
input[type="text"],
input[type="password"], styled-select select {
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: none;
    border: 3px solid #24a7ad;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

input[type="text"]:focus,
input[type="password"]:focus {
	outline: 0;
	background: none;
    border: 3px solid #fff;
    color: #fff;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
}

input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder { color: #fff; }

input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder { color: #fff; }

input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder { color: #fff; }


button.btn {
	width: 100%;
	height: 50px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #24a7ad;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
    text-shadow: none;
    -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

button.btn:hover { background: #fff; color: #24a7ad; }
button.btn:active { outline: 0; background: #fff; color: #24a7ad; -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
button.btn:focus { outline: 0; background: #fff; color: #24a7ad; }
button.btn:active:focus, button.btn.active:focus { outline: 0; background: #fff; color: #24a7ad; }
