
body {
	background: #444;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    
}

strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #ffa456;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
	font-size: 18px;
    font-weight: 300;
    color: #555;
    line-height: 30px;
}

img { max-width: 100%; }

::-moz-selection { background: #ffa456; color: #fff; text-shadow: none; }
::selection { background: #ffa456; color: #fff; text-shadow: none; }


.btn-link-1 {
	margin: 0 15px;
	font-size: 42px;
    font-weight: 300;
    line-height: 42px;
    color: #ffa456;
}
.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active { outline: 0; color: #42bcc2; }


/***** Top content *****/

.inner-bg {
    padding: 50px 0 120px 0;
}

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description a {
	border-bottom: 1px dotted #ffa456;
}
.top-content .description a:hover,
.top-content .description a:focus { border: 0; }

.form-box {
	margin-top: 35px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px;
	background: #d9e0e7;
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	color: #555;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; color: #555; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #414445;
	line-height: 100px;
	text-align: right;
}

.form-bottom {
	padding: 15px 25px 30px 25px;
	background: #008080;
	-moz-border-radius: 0 0 4px 4px; -webkit-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom form .input-error {
	background: #24a7ad;
}

.social-login {
	margin-top: 35px;
}

.social-login-buttons {
	margin-top: 35px;
}


/***** Media queries *****/

@media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {

	.inner-bg { padding: 60px 0 110px 0; }

}

@media (max-width: 415px) {

	h1, h2 { font-size: 32px; }

	.form-top-right { font-size: 42px; line-height: 90px; }

}
