<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {

        var referCode = $('#referholder').val();

        $.getJSON("/api/setup/configuration/coa/"+referCode, function(data) {
            var jsonData = JSON.stringify(data);
            $('#code').html(data.code);
            $('#descp').html(data.descp);
            $('#active').html(data.active);
            $('#apptype').html(data.apptype);
            var render = '';

        });
        $('.activerowy').click(function (e) {
            //console.log(oData);

            var code = $(this).attr('id');
            BootstrapDialog.show({
                type: BootstrapDialog.TYPE_DEFAULT,
                title: 'View <%= mod.getModuleDesc()%>',
                //message: $('<body></body>').load('list_coa.jsp')
                message: function (dialog) {
                    var $content = $('<body></body>').load('cf_coa_view.jsp?id=' + code);
                    //$('body').on('click', '.thisresult_nd', function(event){
                    //    dialog.close();
                    //    event.preventDefault();
                    //});

                    return $content;
                }
            });
            return false;
        });

        $('.editcoa').click(function (e) {
            
            var code = $(this).attr('id');
            var parent = $(this).attr('name');
            
            $.ajax({
                url: "PathController?moduleid=<%= mod.getModuleID()%>&process=edit&referenceno=" + code + "&from=viewdetail&parent="+parent,
                success: function (result) {
                    // $("#haha").html(result);
                    $('#herey').empty().html(result).hide().fadeIn(300);
                }});
            return false;
        });
    });

</script>
<script type="text/javascript" language="javascript" src="jsfunction/jquery_event.js"></script>
<div id ="maincontainer">
    <div class="partition"> 
        <div class="bodyofpartition">
            <table border="0" id="secondtable" cellspacing="0" cellpadding="6" class="alternate">
                <tr>
                    <td valign="middle" align="left">
                        <button id="backto" class="btn btn-primary btn-sm" title="cf_coa_list" name="viewlist"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;&nbsp;Back</button>
                    </td>
                </tr>
            </table>
            <br>
            <table class="table table-bordered table-striped  table-hover">
                <thead>
                    <tr>
                        <th colspan="4">Account Information
                            <!--<small><span class="label label-primary">Preparing</span></small>-->
                            <div class="btn-group btn-group-xs pull-right" role="group" aria-label="...">


                                <button id="<%= v.getCode()%>" class="btn btn-default btn-xs viewvoucher" title="<%= mod.getModuleID()%>" name="viewjv"><i class="fa fa-print" aria-hidden="true"></i></button>
                                <button id="<%= v.getCode()%>" class="btn btn-default btn-xs editmain" title="cf_coa_edit" name="edit_st"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                <button id="<%= v.getCode()%>"  class="btn btn-danger btn-xs deletemain" title="<%= mod.getModuleID()%>" id="<%//= pvi.getRefer() %>" name="delete_st"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody class="activerowm tdrow">
                    <tr>
                        <th width="15%">Code</th>
                        <td width="35%"><span id="code"></span> </td>
                        <th width="15%">Description</th>
                        <td width="35%"><span id="descp"></span></td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <td><span id="active"></span></td>
                        <th>Apportion Type</th>
                        <td><span id="apptype"></span></td>
                    </tr>
                    <tr>
                        <th>Final Level</th>
                        <td><%= v.getFinallvl()%></td>
                        <th>Apportion Level</th>
                        <td><%= v.getApplevel()%></td>
                    </tr>

                </tbody>
            </table>

            <table class="table table-bordered table-striped table-hover" id="dataTables">
                <thead>
                    <tr>
                        <th colspan="6">Detail<!--<small>asdada</small>-->
                            <span class="pull-right">

                            </span>
                        </th>
                    </tr>
                    <tr>
                        <th>Code</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Final Level</th>
                        <th width="10%">Action</th>
                    </tr>
                </thead>
                <%List<ChartofAccount> listAll = (List<ChartofAccount>) ChartofAccountDAO.getAllCode(log, v.getCode());
                    if (listAll.isEmpty()) {%>
                <tbody>
                    <tr>
                        <td colspan="5">
                            <span class="font-small-red">No data available.</span>
                        </td>
                    </tr>
                    <%}
                        for (ChartofAccount j : listAll) {%>
                    <tr class="activerowy" id="<%= j.getCode()%>">
                        <td class="tdrow">&nbsp;<%= j.getCode()%></td>
                        <td class="tdrow">&nbsp;<%= j.getDescp()%></td>
                        <td class="tdrow">&nbsp;<%= j.getActive()%></td>
                        <td class="tdrow" align="right">&nbsp;<%= j.getFinallvl()%></td>
                        <td class="tdrow" align="right">&nbsp;
                            <div class="btn-group btn-group-xs" role="group" aria-label="...">
                                <button id="<%= j.getCode()%>" class="btn btn-default btn-xs editcoa" title="<%= mod.getModuleID()%>" name="<%= v.getCode()%>"><i class="fa fa-pencil"></i></button>
                                <button id="<%= j.getCode()%>" class="btn btn-default btn-xs deleteitem" title="<%= mod.getModuleID()%>"  name="delete_st"><i class="fa fa-trash-o"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <%}%>
            </table>
        </div>
    </div>
</div>    