<script src="jsfunction/jquery-1.12.0.min.js"></script>
<script type="text/javascript" language="javascript" src="jsfunction/bootstrap.min.js"></script>
<link href="bootstrapdialog/bootstrap-dialog.min.css" rel="stylesheet" type="text/css" />
<script src="bootstrapdialog/bootstrap-dialog.min.js"></script>
<script src="bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" language="javascript" src="jsfunction/basic_new.js"></script>
<script type="text/javascript" language="javascript" src="js/jquery.printElement.js"></script>

<link href="bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">

<link href="bower_components/datatables-responsive/css/dataTables.responsive.css" rel="stylesheet">
<script src="bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {

        $.getJSON("/api/system/modules/010109", function(data) {
            var jsonData = JSON.stringify(data);
            console.log(data.moduleid);
            $('#addbutton').html(data.moduledesc);
            //$("#potatoes").html(JSON.stringify(data));
        });



        $('body').one('click', '#add-new', function (e) {
            var href ='cf_coa_add';
            $('#herey').empty().load(href+'.html').hide().fadeIn(300);
            return false;
        });

        var oTable = $('#coa').DataTable({
            responsive: true,
            "bProcessing": true,
            "ajax":{"url":"/api/setup/configuration/coa/datatable","dataSrc":""},
            "aaSorting": [[0, "desc"]],
            "aoColumns": [
                {"sTitle": 'Code', "mData": 'code', "sWidth": "10%", "bSearchable": true},
                {"sTitle": 'Descp', "mData": 'descp', "sWidth": "25%"},
                {"sTitle": 'Type', "mData": 'type', "sWidth": "10%"},
                {"sTitle": 'Apptype', "mData": 'apptype', "sWidth": "20%"},
                {"sTitle": "Status", "mData": null, "sWidth": "20%"},
                {"sTitle": "Action", "mData": null, "bSortable": false, "bSearchable": false, "sWidth": "13%"}
            ],
            "aoColumnDefs": [{
                    "aTargets": [5],
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {


                        var a = $('');
                        var b = $('');
                        var c = $('');


                        a.on('click', function () {
                            //console.log(oData);
                            BootstrapDialog.show({
                                type: BootstrapDialog.TYPE_DEFAULT,
                                title: 'View <%= mod.getModuleDesc()%>',
                                //message: $('<body></body>').load('list_coa.jsp')
                                message: function (dialog) {
                                    var $content = $('<body></body>').load('cf_coa_view.jsp?id=' + oData.code);
                                    //$('body').on('click', '.thisresult_nd', function(event){
                                    //    dialog.close();
                                    //    event.preventDefault();
                                    //});

                                    return $content;
                                }
                            });
                            return false;
                        });
                        b.on('click', function () {
                            //console.log(oData);

                            $.ajax({
                                url: "PathController?moduleid=<%= mod.getModuleID()%>&process=edit&referenceno=" + oData.code + "&from=viewlist",
                                success: function (result) {
                                    // $("#haha").html(result);
                                    $('#herey').empty().html(result).hide().fadeIn(300);
                                }});
                            return false;

                        });
                        c.on('click', function () {

                            BootstrapDialog.confirm({
                                title: 'Confirmation',
                                message: 'Are you sure to delete?',
                                type: BootstrapDialog.TYPE_DANGER, // <-- Default value is BootstrapDialog.TYPE_PRIMARY
                                closable: true, // <-- Default value is false
                                draggable: true, // <-- Default value is false
                                btnCancelLabel: 'Cancel', // <-- Default value is 'Cancel',
                                btnOKLabel: 'Delete', // <-- Default value is 'OK',
                                btnOKClass: 'btn-danger', // <-- If you didn't specify it, dialog type will be used,
                                callback: function (result) {
                                    // result will be true if button was click, while it will be false if users close the dialog directly.
                                    if (result) {
                                        $.ajax({
                                            url: "PathController?moduleid=<%= mod.getModuleID()%>&process=delete&referenceno=" + oData.code,
                                            success: function (result) {
                                                // $("#haha").html(result);
                                                setTimeout(function () {
                                                    oTable.draw();
                                                }, 500);
                                            }});
                                    }
                                }
                            });

                            return false;

                        });

                        $(nTd).empty();
                        $(nTd).attr("class", 'btn-group');
                        $(nTd).prepend(a, b, c);
                    }

                }]




        });

        $('body').on('click', '#refresh', function (e) {
            oTable.draw();
            return false;
        });

        $('#coa tbody').on('click', 'tr', function () {
            var data = oTable.row(this).data();
            $('#herey').empty().load('cf_coa_view_detail.html').hide().fadeIn(300);
            $('#referholder').val(data.code);


            /*$.ajax({
                url: "PathController?moduleid=<%= mod.getModuleID()%>&process=viewdetail&referno=" + data.code,
                success: function (result) {
                    $('#herey').empty().html(result).hide().fadeIn(300);
                }
            });*/
            return false;
        });





    });
</script>
<div id ="maincontainer">
    <div class="partition">
        <div class="bodyofpartition">
            <table border="0" id="secondtable" cellspacing="0" cellpadding="6" class="alternate">
                <tr>
                    <td valign="middle" align="left">
                        <button id="add-new" class="btn btn-default btn-sm"><i class="fa fa-plus-circle"></i> Add <span id="addbutton"></span></button>
                    </td>
                    <td valign="middle" align="right">
                        &nbsp;<button id="refresh" class="btn btn-default btn-sm pull-right refresh"><i class="fa fa-refresh"></i> Refresh</button>
                    </td>
                </tr>
            </table>
            <hr style="color:#333; border:thick">
            <div class="dataTable_wrapper">
                <table class="table table-striped table-bordered table-hover" id="coa">
                </table>
            </div>
        </div>
    </div>