<script src="jsfunction/jquery-1.12.0.min.js"></script>
<script type="text/javascript" language="javascript" src="jsfunction/bootstrap.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/css/bootstrap-dialog.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/js/bootstrap-dialog.min.js"></script>
<script type="text/javascript" language="javascript" src="jsfunction/formValidation.js"></script>
<script type="text/javascript" language="javascript" src="jsfunction/bootstrap.js"></script>
<script type="text/javascript" language="javascript" src="jsfunction/jquery_event.js"></script>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {
        var tab = sessionStorage.getItem(1);

        $.getJSON("/api/setup/configuration/parameter/type?param=Account Type", function(data) {
            var jsonData = JSON.stringify(data);
            var render = '';
            $.each($.parseJSON(jsonData), function (key, value) {
                render += '<option value = "' + value.value + '">' + value.value + '</option>';
                $('#type').append($('<option>', {
                    value: value.value,
                    text : value.value
                }));
            });
        });

        $.getJSON("/api/setup/configuration/parameter/type?param=Apportion Type", function(data) {
            var jsonData = JSON.stringify(data);
            var render = '';
            $.each($.parseJSON(jsonData), function (key, value) {
                render += '<option value = "' + value.value + '">' + value.value + '</option>';
                $('#apptype').append($('<option>', {
                    value: value.value,
                    text : value.value
                }));
            });
        });

        $.getJSON("/api/setup/configuration/parameter/type?param=Apportion to Level", function(data) {
            var jsonData = JSON.stringify(data);
            var render = '';
            $.each($.parseJSON(jsonData), function (key, value) {
                render += '<option value = "' + value.value + '">' + value.value + '</option>';
                $('#applevel').append($('<option>', {
                    value: value.value,
                    text : value.value
                }));
            });
        });

        $.getJSON("/api/setup/configuration/parameter/type?param=Account To Type", function(data) {
            var jsonData = JSON.stringify(data);
            var render = '';
            $.each($.parseJSON(jsonData), function (key, value) {
                render += '<option value = "' + value.value + '">' + value.value + '</option>';
                $('#attype').append($('<option>', {
                    value: value.value,
                    text : value.value
                }));
            });
        });

        $.getJSON("/api/setup/configuration/parameter/type?param=YesNo Type", function(data) {
            var jsonData = JSON.stringify(data);
            var render = '';
            $.each($.parseJSON(jsonData), function (key, value) {
                render += '<option value = "' + value.value + '">' + value.value + '</option>';
                $('#finallvl,#active').append($('<option>', {
                    value: value.value,
                    text : value.value
                }));
            });
        });


        $('#code').focusout(function (e) {

            var value = $(this).val();

            if (value == '') {
                $('#res_code').empty();
                $('#div_code').removeClass('has-success');
                $('#div_code').addClass('has-error');
                $('#res_code').append("<i class=\"fa fa-exclamation-circle fail-red\"></i>&nbsp;&nbsp;Account Code is required.");
                $('#savebutton').prop('disabled', true);
                return false;
            }
            if (numberOnly(value)) {

                $.getJSON("/api/setup/configuration/coa/check/"+value, function(data) {
                    var jsonData = JSON.stringify(data);
                    console.log(data);
                        $('#res_code').empty();
                        //$('#res_code').removeClass('has-error');
                        //$('#res_code').removeClass('has-success');
                        if (data != true) {
                            $('#div_code').removeClass('has-error');
                            $('#div_code').addClass('has-success');
                            $('#res_code').append("<i class=\"fa fa-check-circle right-green\"></i>&nbsp;&nbsp;Code available");
                            $('#savebutton').prop('disabled', false);

                        } else {
                            $('#div_code').removeClass('has-success');
                            $('#div_code').addClass('has-error');
                            $('#res_code').append("<i class=\"fa fa-exclamation-circle fail-red\"></i>&nbsp;&nbsp;Code not available");
                            $('#savebutton').prop('disabled', true);
                        }


                });
            } else {
                $('#res_code').empty();
                $('#div_code').removeClass('has-success');
                $('#div_code').addClass('has-error');
                $('#res_code').append("<i class=\"fa fa-exclamation-circle fail-red\"></i>&nbsp;&nbsp;The code must be in numeric format");
                $('#savebutton').prop('disabled', true);
            }


            return false;
        });
    });

</script>
<div id ="maincontainer">
    <div class="partition"> 
        <div class="bodyofpartition">
            <table border="0" id="secondtable" cellspacing="0" cellpadding="6" class="alternate">
                <tr>
                    <td valign="middle" align="left">
                        <button id="backto" class="btn btn-default btn-sm" title="cf_coa_list" name="viewlist"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;&nbsp;Back</button>
                        <button id="savebutton"  class="btn btn-default btn-sm" title="cf_coa_list" name="addprocess" disabled><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                    </td>
                </tr>
            </table>
            <br>

            <div class="well">

                <form data-toggle="validator" role="form" id="saveform">
                    <div class="form-group" id="div_code">
                        <label for="inputName" class="control-label">Account &nbsp&nbsp<span id="res_code"></span></label>
                        <input type="text" class="form-control input-sm" id="code" name="code" placeholder="Code" autocomplete="off" required>
                        <p></p>
                        <input type="text" class="form-control input-sm" id="descp" name="descp" placeholder="Description" required>
                    </div>

                    <div class="form-group form-group-sm">
                        <label for="inputName" class="control-label">Account Type</label>
                        <select class="form-control input-sm" id="type" name="type">
                        </select>
                    </div>

                    <div class="form-group form-group-sm">
                        <label for="inputName" class="control-label">Apportion to Type</label>
                        <select class="form-control input-sm" id="apptype" name="apptype">
                        </select>
                    </div>

                    <div class="form-group form-group-sm">
                        <label for="inputName" class="control-label">Apportion to Level</label>
                        <select class="form-control input-sm" id="applevel" name="applevel">
                        </select>
                    </div>

                    <div class="form-group form-group-sm">
                        <label for="inputName" class="control-label">Account to Type</label>
                        <select class="form-control input-sm" id="attype" name="attype">
                        </select>
                    </div>

                    <div class="form-group form-group-sm">
                        <label for="inputName" class="control-label">Final Level</label>
                        <select class="form-control input-sm" id="finallvl" name="finallvl">
                        </select>
                    </div>

                    <div class="form-group form-group-sm">
                        <label for="inputName" class="control-label">Active</label>
                        <select class="form-control input-sm" id="active" name="active">
                            <%= ParameterDAO.parameterList(log,"YesNo Type", "")%>
                        </select>
                    </div>

                    <!--<div class="form-group-sm input-group">
                    <input type="text" class="form-control input-sm">
                    <span class="input-group-btn">
                    <button class="btn btn-default btn-sm" type="button"><i class="fa fa-cog"></i> Get Account Code</button>
                    </span>
                    </div>-->

                </form>
            </div>

        </div>
    </div>
</div>