<script src="jsfunction/jquery-1.12.0.min.js"></script>
<script type="text/javascript" language="javascript" src="jsfunction/bootstrap.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/css/bootstrap-dialog.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.34.9/js/bootstrap-dialog.min.js"></script>
<script type="text/javascript" language="javascript" src="jsfunction/jquery_event.js"></script>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function () {

        var tab = sessionStorage.getItem(1);

        var referCode = $('#referholder').val();

        $.getJSON("/api/setup/configuration/coa/"+referCode, function(data) {
            var jsonData = JSON.stringify(data);
            $('#code').val(data.code);
            $('#descp').val(data.descp);
            $('#active').html(data.active);
            $('#apptype').html(data.apptype);
            var render = '';

        });

        $.getJSON("/api/setup/configuration/coa/type?param=Account Type", function(data) {
            var jsonData = JSON.stringify(data);
            var render = '';
            $.each($.parseJSON(jsonData), function (key, value) {
                render += '<option value = "' + value.value + '">' + value.value + '</option>';
                $('#type').append($('<option>', {
                    value: value.value,
                    text : value.value
                }));
            });
        });

        $('#getbank').click(function (e) {

            var a = 'bankcode';
            var b = 'bankname';
            //e.preventDefault();
            BootstrapDialog.show({
                type: BootstrapDialog.TYPE_DEFAULT,
                title: 'Get Taxation',
                //message: $('<body></body>').load('list_coa.jsp')
                message: function (dialog) {
                    var $content = $('<body></body>').load('list_bank.jsp?code=' + a + '&name=' + b);
                    $('body').on('click', '.thisresult', function (event) {
                        dialog.close();
                        event.preventDefault();
                    });

                    return $content;
                }
            });

            return false;
        });
    });

</script>
    <div id ="maincontainer">
        <div class="partition"> 
            <div class="bodyofpartition">
                <table border="0" id="secondtable" cellspacing="0" cellpadding="6" class="alternate">
                    <tr>
                        <td valign="middle" align="left">
                            <button id="backto" class="btn btn-default btn-sm" title="<%= mod.getModuleID()%>" name="<%= request.getParameter("from") %>" type="<%= request.getParameter("parent") %>"><i class="fa fa-arrow-circle-o-left"></i>&nbsp;&nbsp;Back</button>
                            <button id="savebutton"  class="btn btn-default btn-sm" title="<%= mod.getModuleID()%>" name="editprocess"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                        </td>
                    </tr>
                </table>
                <br>

                <div class="well">
                    <form data-toggle="validator" role="form" id="saveform">
                        <div class="form-group" id="div_code">
                            <label for="inputName" class="control-label">Account &nbsp&nbsp<span id="res_code"></span></label>
                            <input type="text" class="form-control input-sm" id="code" name="code" placeholder="Code" autocomplete="off" value="<%= edit.getCode()%>" required readonly>
                            <p></p>
                            <input type="text" class="form-control input-sm" id="descp" name="descp" placeholder="Description" value="<%= edit.getDescp()%>" required>
                        </div>

                        <div class="form-group form-group-sm">
                            <label for="inputName" class="control-label">Account Type</label>
                            <select class="form-control input-sm" id="type" name="type">
                                <%= ParameterDAO.parameterList(log,"Account Type", edit.getType())%>
                            </select>
                        </div>

                        <div class="form-group form-group-sm">
                            <label for="inputName" class="control-label">Apportion to Type</label>
                            <select class="form-control input-sm" id="apptype" name="apptype">
                                <%= ParameterDAO.parameterList(log,"Apportion Type", edit.getApptype())%>
                            </select>
                        </div>

                        <div class="form-group form-group-sm">
                            <label for="inputName" class="control-label">Apportion to Level</label>
                            <select class="form-control input-sm" id="applevel" name="applevel">
                                <%= ParameterDAO.parameterList(log,"Apportion to Level", edit.getApplevel())%>
                            </select>
                        </div>

                        <div class="form-group form-group-sm">
                            <label for="inputName" class="control-label">Account to Type</label>
                            <select class="form-control input-sm" id="attype" name="attype">
                                <%= ParameterDAO.parameterList(log,"Account To Type", edit.getAttype())%>
                            </select>
                        </div>

                        <div class="form-group form-group-sm">
                            <label for="inputName" class="control-label">Final Level</label>
                            <select class="form-control input-sm" id="finallvl" name="finallvl">
                                <%= ParameterDAO.parameterList(log,"YesNo Type", edit.getFinallvl())%>
                            </select>
                        </div>

                        <div class="form-group form-group-sm">
                            <label for="inputName" class="control-label">Active</label>
                            <select class="form-control input-sm" id="active" name="active">
                                <%= ParameterDAO.parameterList(log,"YesNo Type", edit.getActive())%>
                            </select>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>


