<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="1045756390629-qmogrn82r94dmtcth13b9fm54m9euuvt.apps.googleusercontent.com">
    <title>FMS | Financial Management System</title>


    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/form-elements.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <script src="https://apis.google.com/js/platform.js" async defer></script>




    <link rel="apple-touch-icon" sizes="57x57" href="assets/fav/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="assets/fav/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/fav/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/fav/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/fav/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/fav/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="assets/fav/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/fav/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/fav/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="assets/fav/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/fav/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/fav/favicon-16x16.png">
    <link rel="manifest" href="assets/fav/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="assets/fav/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">




    <style>
        .notice {
            padding: 15px;
            background-color: #fafafa;
            border-left: 6px solid #7f7f84;
            text-align: center;
            margin-bottom: 10px;
            -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
        }
        .notice-sm {
            padding: 10px;
            font-size: 80%;
        }

        .notice-danger {
            border-color: #d73814;
        }
        .notice-warning {
            border-color: #FEAF20;
        }
    </style>

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {


            var drawDiv = '<div class="col-sm-6 col-sm-offset-3">';
            drawDiv += '<div class="notice notice-sm <%= alert_class%>">';
            drawDiv += '<strong>Warning</strong> | <%= log.getMessage()%>';
            drawDiv += '</div>';
            drawDiv += '</div>';
            $("#alert").html(drawDiv);

            $('#loginx').click(function () {

                $.getJSON('/api/setup/configuration/coa', {get_param: 'value'}, function (data) {
                    $.each(data, function (index, element) {
                        $('body').append($('<div>', {
                            text: element.code
                        }));
                    });
                });
            });


        });

        function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();
            console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
            console.log('Name: ' + profile.getName());
            console.log('Image URL: ' + profile.getImageUrl());
            console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

            $("#email").val(profile.getEmail());
            $( "#formlogin" ).submit();
        }

        function signOut() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
        }
    </script>

</head>

<body>


<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text" style="text-align: center">
                    <img src="image/logovertical.png" width="350"  style="padding-top:0px">
                </div>
            </div>
            <div class="row" id="alert">

            </div>
            <form name="form1" action="SessionLogin" target="_parent" id="formlogin" method="post">
                <input id="email" name="email" type="hidden">
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Please Login</h3>
                                <p>Enter your username and password to log on:</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-lock"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <div class="form-group">
                                <label class="sr-only" for="form-username">Username</label>
                                <input type="text" name="user" placeholder="Username..." class="form-username form-control" id="form-username">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-password">Password</label>
                                <input type="password" name="password" placeholder="Password..." class="form-password form-control" id="form-password">
                            </div>
                            <div class="form-group styled-select">
                                <select class="form-password form-control input-sm" id="estate" name="estate">
                                    <option value="none" selected>Company Code</option>
                                    <%
                                    List<Company> clist = (List<Company>) CompanyDAO.getAllCompany();
                                    for (Company c : clist) {
                                    %>
                                    <option value="<%= c.getCode()%>"><%= c.getCode()%> - <%= c.getName()%></option>
                                    <%
                                    }
                                    %>

                                </select>
                            </div>

                            <button type="submit" class="btn" id="login">Log in</button>

                        </div>
                    </div>
                </div>

            </form>


        </div>

    </div>

</div>


<script src="assets/js/jquery-1.11.1.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/jquery.backstretch.min.js"></script>
<script src="assets/js/scripts.js"></script>



</body>


</html>