/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 4, 2017, 10:37:51 PM
    Author     : fadhilfahmi
*/


.invoice-company{border-bottom:1px solid #e2e7eb!important;margin-bottom:20px!important}.invoice .invoice-from,.invoice .invoice-to{float:left!important;display:inline!important;width:25%!important;margin:0!important}.invoice .invoice-date{float:right!important;margin:0!important;width:25%!important;display:inline!important;text-align:right!important}.invoice-header{margin:0!important;padding:0!important}.table-responsive{border:none!important;display:block!important;float:left!important;width:100%!important;margin-top:10px!important}.invoice-price{margin-top:20px!important;border:1px solid #e2e7eb!important;float:left!important;width:100%!important;display:block!important}.invoice .invoice-price .invoice-price-left,.invoice .invoice-price .invoice-price-right{display:block!important;float:left!important;width:75%!important}.invoice .invoice-price .invoice-price-right{width:25%!important}.invoice-price .invoice-price-right{text-align:right!important}.invoice-price .invoice-price-left .sub-price{float:left!important;display:block!important;margin-top:5px}.invoice-footer,.invoice-note{float:left!important;width:100%!important}