@charset "utf-8";
/* CSS Document */
.reportNo {
	text-align: right;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
}

/*.reportTitle {
	text-align: left;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:500;
}

.cTitleNormalText {
	text-align: left;
	font-size:9px;
	font-family:Arial, Helvetica, sans-serif;
}

.cTitleNormalNumber {
	text-align: right;
	font-size:9px;
	font-family:Arial, Helvetica, sans-serif;
}

.dataNormalNumber {
	text-align: right;
	font-size:9px;
	font-family:Arial, Helvetica, sans-serif;
}

.dataBoldNumber {
	text-align: right;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:500;
}
.dataTitleText {
	text-align: left;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:500;
}

.dataTitleNumber {
	text-align: right;
	font-size:9px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:500;
}

.dataNormalText{
	text-align: left;
	font-size:9px;
	font-family:Arial, Helvetica, sans-serif;
}

.dataNormalCenter {
	text-align: center;
	font-size:9px;
	font-family:Arial, Helvetica, sans-serif;
}*/

.dataTitleText {
	text-align: left;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:500;
}
.right {
	text-align: right;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.cellTotals
{
	text-align: right;
	font-size:12px;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:500;
	border-top:1px solid #000000; 
	border-left-style:none; 
	border-left-width:medium; 
	border-bottom-style:solid; 
	border-bottom-width:medium;
	border-bottom-color:#000000; 
	border-right-style:none; 
	border-right-width:medium;	
}

#table_1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#4B4B4B;
	padding:4px;
	border-collapse: collapse;
}

#table_2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#626262;
	padding:4px;
	border-collapse: collapse;
	border:1px solid #C6C6FF;
}

#td_1{
	border-bottom:1px solid #C6C6FF;
	border-left:1px solid #C6C6FF;
}

#td_1a{
	border-bottom:1px solid #C6C6FF;
	border-left:1px solid #C6C6FF;
	border-right:1px solid #C6C6FF;
}

#thead_1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#626262;

	

	border-bottom: 1px solid #C7C7C7;

	

	

	text-transform: uppercase;

	text-align: left;

	padding: 6px 6px 6px 12px;

	background: #DDF url(image/bg_header.jpg) no-repeat;
}

#td_2{
	/*border-bottom:1px solid #C0C0C0;*/
	border-top:1px solid #C6C6FF;
	border-bottom:1px solid #C6C6FF;
	border-left:1px solid #C6C6FF;
	background-color:#DDF;
}

#td_2{
	/*border-bottom:1px solid #C0C0C0;*/
	border-top:1px solid #C6C6FF;
	border-bottom:1px solid #C6C6FF;
	border-left:1px solid #C6C6FF;
	border-right:1px solid #C6C6FF;
	background-color:#DDF;
}

input{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#626262;
}

.font_title{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#505050;
}

.select_1{
	border:1px solid #C6C6FF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#787878;
	line-height:20px;
}

.td_height{
	line-height:20px;
}

.fontinput{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align:right;
}
