@charset "utf-8";
/* CSS Document */
.reportNo {
	text-align: right;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
}

.reportTitle {
	text-align: left;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:500;
}

.cTitleNormalText {
	text-align: left;
	font-size:9px;
	font-family:Arial, Helvetica, sans-serif;
}

.cTitleNormalNumber {
	text-align: right;
	font-size:9px;
	font-family:Arial, Helvetica, sans-serif;
}

.dataNormalNumber {
	text-align: right;
	font-size:9px;
	font-family:Arial, Helvetica, sans-serif;
}

.dataBoldNumber {
	text-align: right;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:500;
}
.dataTitleText {
	text-align: left;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:500;
}

.dataTitleNumber {
	text-align: right;
	font-size:9px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:500;
}

.dataNormalText{
	text-align: left;
	font-size:9px;
	font-family:Arial, Helvetica, sans-serif;
}

.dataNormalCenter {
	text-align: center;
	font-size:9px;
	font-family:Arial, Helvetica, sans-serif;
}
.cellTotal
{
	text-align: right;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:500;
	border-top:1px solid #000000; 
	border-left-style:none; 
	border-left-width:medium; 
	border-bottom-style:solid; 
	border-bottom-width:medium;
	border-bottom-color:#000000; 
	border-right-style:none; 
	border-right-width:medium;	
}
