/**
 * Layout generated with http://layzilla.com
 * Layout generator is free of use.
 * We appreciate if you leave this comment block in commercial use of generator.
 * All comment and ideas can be submitted to us using contacts below.
 *
 *    site: www.jmholding.com
 *   email: info@jmholding.ru
 *  twitter: @jmholding
 */
html, body {
	margin: 0;
	padding: 0;
	margin-top:-6px;
	width: 100%;
	height: 100%; 
}

.content {
	min-height: 100%;
	position: relative;
	overflow: auto;
	z-index: 0; 
}

.background {
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
}

.top_block {
	width: 100%;
	display: block; 
}

.bottom_block {
	position: absolute;
	width: 100%;
	display: block;
	bottom: 0; 
}

.left_block {
	display: block;
	float: left; 
}

.right_block {
	display: block;
	float: right; 
}

.center_block {
	display: block;
	width: auto; 
}

.background.sidediv {
	height: auto !important;
	padding-bottom: 0;
	left: 0;
	width: 140px;
	background-color: #9999ff; 
}

.sidediv {
	height: auto;
	width: 140px;
	padding-bottom: 0px;
}

.background.maindiv {
	height: auto !important;
	padding-bottom: 0;
	left: 0;
	right: 0;
	background-color: #9933ff;
	margin-left: 140px; 
}

.maindiv {
	width: auto;
	height: auto;
	padding-bottom: 0px;
}

.header {
	width: 100%;
	height: 70px;
	background-color: #993399;
}

.background.contentdiv {
	height: auto !important;
	padding-bottom: 0;
	left: 0;
	right: 0;
	background-color: #993366;
	margin-top: 70px; 
}

.contentdiv {
	width: auto;
	height: auto;
	padding-bottom: 0px;
	border:5px solid #000;
}

.mainframe{
	width:100%;
	height:100%;
	overflow:hidden;
}
