/* CSS Document */

.smallTitle {



	font-family: "Trebuchet MS", Tahoma;

	font-size:11px;

	font-style:normal;
	
	

}

.selectopt{
	border:solid 1px #D5D5D5;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#6C6C6C;
	padding:4px;
}

.font_title{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#575757;
	padding:0px;
}

.font_title a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#575757;
	text-decoration:none;
}

.font_title a:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#575757;
	text-decoration:underline;
}

