/* CSS Document */



body {

	/*font: normal 11px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;*/

	color: #4f6b72;

	/* background: #E6EAE9;*/

	background:#FFFFFF;

}



/*

fieldset {  

margin: 1.5em 0 0 0;  

padding: 0; 

} 

*/



fieldset {  

float: left;  

clear: left;  

width: 100%;  

/* margin: 0 0 1.5em 0;  */

padding: 0; 

/* background-color: #F2EFE9; */

-moz-border-radius:10px;
border:1px solid #D2D2FF;

}





legend {  

margin-left: 1em;  

color: #6B6B6B;
font-family:Arial, Helvetica, sans-serif;
font-weight: bold;
text-transform:uppercase;

} 



fieldset ol {  

/*

padding: 1em 1em 0 1em;  

*/

list-style: none; 

} 





fieldset li {  

padding-bottom: 1em; 

} 



h1 {

font: bold 18px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;

text-align:left;

}

/*

fieldset li {  

float: left;  

clear: left;  

width: 100%;  

padding-bottom: 1em; 

}

*/

fieldset.submit {  

border-style: none; 

}

/*

label {  

display: block; 

}

*/



/* right align*/

/*

label {  

float: left;  

 width: 10em;  

margin-right: 1em; 

}

*/

label {  

position: relative;  

float: left;  

width: 20em;  

margin-right: 1em; 

color: #6B6B6B;
font-family:Arial, Helvetica, sans-serif;
font-weight: bold;
text-transform:uppercase;

} 



label em {  

position: absolute;  

left: 15em;  

top: 0; 

}



label .em2 {

position: absolute;  

left: 20em;  

top: 0; 

width:700px;

}



.input
{
    background-color: #ffffff;
    border:solid 1px #C3C3C3;
    color: #7D7D7D;
    padding-left:10px;
    width: 400px;
    box-shadow: 2px 2px 0 #828181 inset;
}
	



/* left align */

/*

label {  

float: left;  

width: 5em;  

margin-right: 1em;  

text-align: right; 

}

*/