/* CSS Document */

body {
	font: normal 11px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	background: #ffffff;
}
/*#E6EAE9*/
/*
fieldset {  
margin: 1.5em 0 0 0;  
padding: 0; 
} 
*/    

fieldset {  
float: left;  
clear: left;  
width: 100%;  
/* margin: 0 0 1.5em 0;  */
padding: 0; 
}


legend {  
margin-left: 1em;  
color: #000000;  
font-weight: bold; 
} 

fieldset ol {  
/*
padding: 1em 1em 0 1em;  
*/
list-style: none; 
} 


fieldset li {  
padding-bottom: 1em; 
} 

/*
fieldset li {  
float: left;  
clear: left;  
width: 100%;  
padding-bottom: 1em; 
}
*/
fieldset.submit {  
border-style: none; 
}
/*
label {  
display: block; 
}
*/

/* right align*/
label {  
float: left;  
 width: 10em;  
margin-right: 1em; 
}

/* left align */
/*
label {  
float: left;  
width: 5em;  
margin-right: 1em;  
text-align: right; 
}
*/