div.tableContainer {

	width: 100%;		/* table width will be 99% of this*/

	height: 295px; 	/* must be greater than tbody*/


	}



div.tableContainer table {

	/*width: 99%;		100% of container produces horiz. scroll in Mozilla*/

	border: none;

	background-color: #f7f7f7;

	}

	

body {

	font: normal 11px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;

	color: #4f6b72;

	/* background: #E6EAE9;*/

}


/*
a {

	color: #c75f3e;

}*/



#mytable {

	width: 100%;

	padding: 0;

	margin: 0;

}



caption {

	padding: 0 0 5px 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;

	text-align: left;
	letter-spacing:-2px;

}

.grey {
	color:#6C6C6C;
}

.red{
	color:#A60000;
}



div.tableContainer th {
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFF;

	border-right: 1px solid #C7C7C7;

	border-bottom: 1px solid #C7C7C7;

	border-top: 1px solid #C7C7C7;

	

	text-transform: uppercase;

	text-align: left;

	padding: 6px 6px 6px 12px;

	background: #057996 url(image/bg_header.jpg) no-repeat;

}



div.tableContainer th.nobg {

	border-top: 0;

	border-left: 0;

	border-right: 1px solid #C1DAD7;

	background: none;

}



div.tableContainer tr.alt td { 

background: #F5FAFA; 

/* color: #B4AA9D;  */
color:#000000;
} 



div.tableContainer td {
	color:#575757;

	border-right: 1px solid #fff;

	border-bottom: 1px solid #fff;
	background:#DFDFDF;

	padding: 6px 6px 6px 12px;

/* color: #4f6b72; */

}





div.tableContainer td.alt {

	background: #F5FAFA;

	/* color: #797268;*/ 
color:#000000;
}







div.tableContainer th.spec {

	border-left: 1px solid #C1DAD7;

	border-top: 0;

	background: #fff url(image/bullet1.gif) no-repeat;

	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;

}



div.tableContainer #mytable th.specalt {

	border-left: 1px solid #C1DAD7;

	border-top: 0;

	background: #f5fafa url(image/bullet2.gif) no-repeat;

	font: bold 10px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;

	color: #797268;

}



button {

width:50px;

height:50px;

}

.psdg-left {
	margin:0;
	text-align: left;
	border-right: 1px solid #ced9ec;
	border-bottom: 1px solid #b3c1db;
	color:#1f3d71;
	font: 13px Arial, Helvetica, sans-serif;
	background: #e4ebf8 url(image/center-blue.png) repeat-y left top;
}


/* BUTTONS */.buttons a, .buttons button{
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}


/* STANDARD */button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}/* POSITIVE */button.positive, .buttons a.positive{
    color:#529214;
}
.buttons a.positive:hover, button.positive:hover{
	background-image:url(../image/icon/button_down.png)
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}/* NEGATIVE */.buttons a.negative, button.negative{
    color:#d12f19;
}
.buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}

.btn_hov:a{
	background-image:url(../image/icon/button_up.png)	
}

.btn_hov:hover{
	background-image:url(../image/icon/button_down.png)	
}


.tminino{
	padding:0;
	border:none;
	background-color:#969696;
}
