/* project: internet services template
   author: luka cvrk (www.solucija.com) */

   
/* default styles
   -------------- */
   
/*body {
	padding: 0;
	padding-bottom:40px;
	margin: 0;
	line-height: 17px;
	background: #fff;
	color: #454545;
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	scrollbar-base-color:#054309;
}*/

.header{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14;
	font-weight:bold;
	text-decoration:underline;
}

.title{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
}

.desc{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

.bottom{
	border-bottom:1px solid #181818;
}