/* fara 30 sept 2006 */

	.btn_center{
		text-align:center;
	}
	table #mail{
		width:100%;
	}
	#mail th{
		text-align:left;
		vertical-align:top;
	}
	#mail td{
		padding-left:10px;
	}
	#mail td.td_center{
		padding-left:0px;
		text-align:center;
	}
	#mail a{
		color:#000000;
		text-decoration:none;
		font-weight:normal
	}
	#mail a:hover{
		text-decoration:underline;
		color:#CC0000;
	}
	.unreadBold{
		color:#0099CC;
		font-weight:bold;
	}
	.unread{
		color:#0099CC;
		font-weight:normal;
	}
	.td_right{
		text-align:right;
		padding-right:2px;
	}
	.check{
		border: 0;
	}
	a{
		color:#003399;
		text-decoration:none;
		font-weight:normal
	}
	a:hover{
		text-decoration:underline;
		color:#CC0000;
	}
	.imgBtn{
		vertical-align: middle;
		cursor:pointer;
	}
	.btnDelete {
	background-image: url(../../images/common/delete.png);
	background-repeat: no-repeat; /* Do not alter this line! */
	height: 17px;
	left: 4px;
	position: absolute; /* Do not alter this line! */
	width: 16px;
	cursor:pointer;
}
/*						<tr>
							<th class="tableHead12">CC.</th>
							<td>
								<select name="ccList" onChange="setCC();">
									<option>None</option>
									<%
									int bil = 1;
									while(rsCC.next()){%>
										<option value="<%=rsCC.getString("userid")%>">
											<%=rsCC.getString("name")%>									</option>
									<%}%>
								</select>
								<input type="button" class="button" value="Add" onClick="addCC()"/><br>
								<textarea name="ccSelect" cols="30" rows="3"></textarea>
							</td>
							<td>&nbsp;</td>
						</tr>
*/

	table #auditrpt{
		width:100%;
	}
	#auditrpt th{
		text-align:center;
		vertical-align:middle;
	}
	#auditrpt td{
		padding-left:10px;
	}
	#auditrpt td.td_center{
		padding-left:0px;
		text-align:center;
	}
	#auditrpt a{
		color:#000000;
		text-decoration:none;
		font-weight:normal
	}
	#auditrpt a:hover{
		text-decoration:underline;
	}