/* project: internet services template
   author: luka cvrk (www.solucija.com) */

   
/* default styles
   -------------- */
.content { 
	margin: 0 auto;
	width: 780px;
	padding: 10px; 
	color: #454545;
	font-family: Tahoma, sans-serif;
	font-size: 11px;
}	
h2.tajuk { 
	margin-top: 5px;
	margin-bottom: 8px;
	padding: 0; 
	padding-top:1px;
	font: bold 1.7em Arial, Sans-Serif; 
	letter-spacing: -1px; 
	font-size: 18px; 
	margin-bottom: 5px; 
	color: #000; 
	background: inherit; 
	text-transform:capitalize;
}
h4.tajuk2 { 
	margin-top: 5px;
	margin-bottom: 8px;
	padding: 0; 
	padding-top:1px;
	font: bold 1.3em Arial, Sans-Serif; 
	letter-spacing: -1px; 
	font-size: 16px; 
	margin-bottom: 5px; 
	color: #575757; 
	background: inherit; 
	text-transform:capitalize;
}


input.submit {
	background: #E0691A url(images/submit.gif) repeat-x;
	border: 0;
	padding: 2px 1px 2px 1px;
	margin: 0px 2px 5px 0;
	color: #FFF;
	font: bold 11px Arial, Sans-Serif;
	border-bottom:#993300 1px solid;
	border-left:#993300 1px solid;
	border-top:#FFFF99 1px solid;
	border-right:#FFFF99 1px solid;
	vertical-align:bottom;
}
input.submit_dis {
	background: #FF9966 url(images/submit_dis.gif) repeat-x;
	border: 0;
	padding: 2px 1px 2px 1px;
	margin: 0px 2px 5px 0;
	font: bold 11px Arial, Sans-Serif;
	border-bottom:#996600 1px solid;
	border-left:#996600 1px solid;
	border-top:#FFFFff 1px solid;
	border-right:#FFFFff 1px solid;
	vertical-align:bottom;
	color: #FFFFFF;
}
/* right side
   --------- */

.right {
	width: 100%;
	margin: 0 0 10px 0;
}

.right h3 {
	clear: both;
	background: #A9C0CE url(images/corner.gif) no-repeat top right;
	color: #FFF;
	padding: 7px 0 7px 10px;
	font: bold 1em Tahoma, Arial, Sans-Serif;
	margin: 0 0 0px 0;
}
		
.right_box {
	background: #f5f5f5;
	color: #414141;
	padding: 8px;	
	margin: 0 0 3px 0;
}

	.left_side {
		float: left;
		width: 45%;
		padding: 0 0 0 10px;
		margin: 10px 0;
	}
		
	.left_side a, .right_side a { color: #414141; background: #FFF; }
		
	.right_side {
		float: right;
		width: 50%;
		background: #FFF url(images/dotted.gif) repeat-y;
		color: #414141;
		padding: 0 0 0 40px;
		margin: 10px 0;
	}
		
		
/* left side
   ---------- */
.left {
	float: left;
	width: 220;
	margin: 0 0 10px 0;
}
.left h3 {
	background: #6C757A  url(images/corner.gif) no-repeat top right;
	color: #FFF;
	padding: 7px 0 7px 10px;
	font: bold 1em Tahoma, Arial, Sans-Serif;
	margin: 0 0 3px 0;
}
.left_articles {
	background: #f5f5f5;
	color: #414141;
	padding: 8px;	
	margin: 0 0 3px 0;
}
.msgtext {
	background: #f5f5f5;
	color: #414141;
	padding: 8px;	
	margin: 0 0 3px 0;
	text-align:center;
	border:thin #797979;
}
.left_box {
	background: #f5f5f5;
	color: #414141;
	padding: 8px;	
	margin: 0 0 3px 0;
}
.table1 th{
	background: #6C757A  url(images/corner.gif) no-repeat top right;
	color: #FFF;
	font: bold 1em Tahoma, Arial, Sans-Serif;
	margin-bottom: 3px;
	padding-top: 7px;
	padding-right: 0;
	padding-bottom: 7px;
	padding-left: 5px;
} 	
.table1 td{
	color: #000000;
	font-family: Tahoma, Arial, Sans-Serif;
	font-size: 1em;
	font-weight: normal;
	background-color: #FFFFFF;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 3px;
	margin-left: 0;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
} 		
.image {
	float: left;
	margin: 0 9px 3px 0;
}
.sidetable {
	width: 100%;
	margin: 0px 0px 15px 0px;
	border: 0em solid f5f5f5;
}
.sidetable th {
	font-size: 11px;
	font-weight: bold;
	color: #6C757A;
	background: #E1E6E9  url(images/corner.gif) no-repeat top right;
	text-align: left;
	text-transform: capitalize;
	padding-top: 2px;
	padding-right: 2px;
	padding-left: 10px;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
}
.sidetable td {
	font-size: 11px;
	font-weight: normal;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	border: 1px solid #E1E6E9;
}
.moduletable {
	width: 100%;
	margin: 0px 0px 15px 0px;
	border: 0em solid #f5f5f5;
	background-color:#FFFFFF;
}
.moduletable th {
	vertical-align: middle;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	text-transform: uppercase;
	background-color: #797979;
	background-image: url(images/corner.gif);
	background-repeat: no-repeat;
	background-position: right top;
	height: 24px;
	width: auto;
	padding-top: 2px;
	padding-right: 2px;
	padding-left: 2px;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #ECE9D8;
	border-right-color: #ECE9D8;
	border-bottom-color: #ECE9D8;
	border-left-color: #ECE9D8;
}
.moduletable th.side {
	font-size: 11px;
	font-weight: bold;
	color: #6C757A;
	background: #E1E6E9  url(images/corner.gif) no-repeat top right;
	text-align: left;
	text-transform: capitalize;
	padding-top: 2px;
	padding-right: 2px;
	padding-left: 10px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-bottom-style: none;
	border-left-style: none;
	vertical-align:top;
}

.moduletable td {
	font-size: 11px;
	font-weight: normal;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	border: 1px solid #E1E6E9;
}
.moduletable td.td_right {
	text-align:right;
	padding-right:8px;
}
.td_right {
	text-align:right;
	padding-right:8px;
}
td{
	padding-left:2px;
}
.td_center {
	text-align:center;
}
.td_vmiddle{
	vertical-align:inherit;
	text-align:center;
}
.moduletable ul {
	color: #ff0000;
}


/* footer
   ------ */

.footer { 
	clear: both;
	text-align: center;
	padding: 10px 0 10px 0;
	margin: 0;
	border-top: 1px solid #ccc;
	line-height: 1.8em;
}

.footer a { color: #808080; background: #fff; }

.tr_active{
	background-color:#FFCE82;
}

/*fara add.... 11 ogos 2006*/
table.login {
	font-size:11px;
	padding: 0px;
	margin:0px;
}

#header.print1{
	height:90px;
}

#menu{
	background: #f5f5f5;
	color: #414141;
	font-size: 12px;
}
#menu a{
	padding: 0;
	margin: 0;
	color: #454545;
	font-family: Tahoma, sans-serif;
	text-decoration:none;
}

#menu a:hover{
	color: #A34303;
}

#menu .menu_1{
	cursor:pointer;
	font-weight:bold;
}

#menu .menu_2{
	cursor:pointer;
	font-weight:normal;
	margin-left: 16px;
}
#menu .menu_2_act{
	cursor:pointer;
	font-weight:normal;
	color:#E0691A;
	margin-left: 16px;
}
#menu .menu_2_head{
	cursor:default;
	font-weight:bold;
	color:#2D8C9C;
	margin-left: 16px;
	padding-top:8px;
}
.emailunread{
	color:#E0691A;
	font-weight:bold;
}
.warning{
	color:#E0691A;
	font-weight:bold;
	margin-right: 10px;
	margin-top:3px;
}
.buttonarea{
	text-align:center;
}
input, select { 
	padding: 0;
	margin: 0;
	font-family: Tahoma, sans-serif;
	font-size: 11px;
}
.sta_check{
	background-color:#F5FABD;
}
.sta_approve{
	background: #D5E6F3;
}
.sta_post{
	background:#EDDEED;
}
.sta_locset{
	background:#D0FAE0;
}
.sta_harversterset{
	background:#FBD7E7;
}
.sta_others{
	background:#ECEAED;
}
.imgbtn{
	cursor:pointer;
}

/*table 17 ogos 2006*/

div#tbl-container {
width: 100%;
height: 300px;
overflow: auto;
scrollbar-base-color:#797979;
border-bottom:#797979 thick solid;
}

thead th {
z-index: 20;
}

thead th.locked {z-index: 30;}

td.locked,  th.locked{
position: relative;
z-index: 10;
}
div#tbl-container table th {
	height:40px
}

table {
border-collapse: collapse;
}


thead th, thead th.locked	{
position:relative;
}
	
div#hideShow{
	position:absolute; 
	left:10px; 
	top:95px; 
	width:100%; 
	background: #f5f5f5;
	color: #414141;
	padding: 5px;	
	margin: 0 0 3px 0;
	border:  #6C757A thin solid;
	display:block;
}
#hideShow h1{
	padding-bottom:5px;
	background: #6C757A  url(images/corner.gif) no-repeat top right;
	color: #FFF;
	padding: 7px 0 7px 10px;
	font: bold 1em Tahoma, Arial, Sans-Serif;
	margin: 0 0 3px 0;
}
#hideShow a{
	color: #FFCE82;
	text-decoration:none;
	padding-right:2px;
	padding-left:2px;
	font-weight:bold;
	border: FFCE82 solid 1px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:8px;
}#hideShow a:hover{
	color: #FFF;
	font-weight:bold;
	border: #FFF solid 1px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:8px;
}
div .btn_center{
	text-align:center;
}
div .btn_print{
	text-align:right;
	float:right;
	padding-right:40px;
	padding-top:10px;
}

/*Css for printing*/
div #printpage{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
	text-align:center;
}

#printpage table,tr,td{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
}
#printpage table{
	width:98%;
	border:thin;
}
#printpage td{
	padding-left:10px;
	padding-right:10px;
}
#printpage td.lt{
	border-left:#797979 solid 1px;
	border-top:#797979 solid 1px;
}
#printpage td.ltr{
	border-left:#797979 solid 1px;
	border-top:#797979 solid 1px;
	border-right:#797979 solid 1px;
}
#printpage td.ltb{
	border-left:#797979 solid 1px;
	border-top:#797979 solid 1px;
	border-bottom:#797979 solid 1px;
}
#printpage td.ltbr{
	border-left:#797979 solid 1px;
	border-top:#797979 solid 1px;
	border-bottom:#797979 solid 1px;
	border-right:#797979 solid 1px;
}
#printpage td.printheader{
	height:80px;
	border:#797979 solid 1px;
}
#printpage h1{
	font-size:16px;
	font-weight:bold;
	text-transform:capitalize;
}
#printpage h2{
	font-size:14px;
	font-weight:bold;
	text-transform:capitalize;
}
#printpage h3{
	font-size:12px;
	font-weight:bold;
}
.hilight_red{
	color:#FF0033;
	font-weight:bold;
}
/*CSS for printing header*/
#printHead { 
	height: 85px;
	margin: 3px 0;
	padding: 5px 0 0 15px;
	border-bottom: 1px solid #ccc;
	width:1014px; 
}
.must{
 background-color:#FDEEBC;
}