/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 14, 2017, 2:36:44 PM
    Author     : fadhilfahmi
*/
/*body {
                margin: 0;
                padding: 0;
                background-color: #FAFAFA;
                font: 12pt;
            }*/
/**{transition:none!important}*///comment on 7.6.2017 reason : accordion not animate
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-print-color-adjust: exact;
}

.print-dialog-landscape .modal-dialog {
    width: 1200px;
}

.page-landscape {
    width:  29.7cm;
    min-height: 21cm;
    padding: 1.5cm;
    margin: 1cm auto;
    border: 1px #ccc solid;
    /*border-radius: 5px;*/
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
    /*padding: 1cm;
    border: 1px #ccc solid;
    height: 237mm;
    /*outline: 2cm #ccc solid;*/
}

@page {
    size: A4;
    size: landscape;
    margin: 0;
}
@media print {

    .page-landscape {
        size: landscape;
        margin: 0;
        border: initial;
        /*border-radius: initial;*/
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;

    }


}         

.greybg{
    margin: 0;
    padding: 0;
    background-color: #CCC;
}






