@charset "utf-8";
/* CSS Document */

@media print {
 
#header {display:none;}
#content {display:none;}
#comments {display:none;}
#sidebar {display:none;}
#footer {display:none;}
 
.site-description {display:none;}
.site-title {display:none;}

.bd_bottom{
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}
 
}