.comnamevc{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
}

.medfont2{
	padding-top:1px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	margin-top: -0.1em;
}
.medfont3{
	padding-top:1px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	margin-top: -1.8em;
}

.boldtitle{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#0F0F0F;
}

.boldtitleuppercase{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#0F0F0F;
	text-transform:uppercase;
}

.normtitle{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;	
}

.tblsmall{
	border:1px solid #070707;
}

.intableheader{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
}

.bordertop{
	border-top:4px solid #FF8040;
	border-left:1px solid #ABABAB;
	border-right:1px solid #ABABAB;
	border-bottom:1px solid #ABABAB;
}
.bordertopright{
	border-top:1px solid #FF8040;
	border-left:1px solid #ABABAB;
	border-bottom:1px solid #ABABAB;
	border-right:1px solid #ABABAB;
}

.borderleft{
	border-left:1px solid #ABABAB;
	border-right:1px solid #ABABAB;
}

.borderdouble{
	border-left:1px solid #ABABAB;
	border-right:1px solid #ABABAB;
	border-top:4px double #FF8040;
	border-bottom:4px double #FF8040;
}

.borderhighlight{
	border-left:1px solid #ABABAB;
	border-right:1px solid #ABABAB;
	border-top:1px solid #ABABAB;
	border-bottom:1px solid #ABABAB;
}
.borderhighlightright{
	border-right:1px solid #ABABAB;
	border-top:1px solid #ABABAB;
	border-bottom:1px solid #ABABAB;
}

.borderhighlight_nd{
	border-left:1px solid #ABABAB;
	border-right:1px solid #ABABAB;
	border-bottom:1px solid #ABABAB;
}

.borderhighlightright_nd{
	border-right:1px solid #ABABAB;
	border-bottom:1px solid #ABABAB;
}

.borderdoubleright{
	border-right:1px solid #ABABAB;
	border-top:4px double #FF8040;
	border-bottom:4px double #FF8040;
}
.borderrightend{
	border-right:1px solid #ABABAB;
}

.borderbottomboldright{
	border-top:3px double #FF8040;
	border-bottom:1px solid #ABABAB;
	border-right:1px solid #ABABAB;
}

.borderbottombold{
	border-top:3px double #FF8040;
	border-left:1px solid #ABABAB;
	border-right:1px solid #ABABAB;
	border-bottom:1px solid #ABABAB;
}

.bordertopgrey{
	border-top:4px solid #FF8040;
	border-left:1px solid #ABABAB;
	border-bottom:1px solid #ABABAB;
	
}

.bordertoprightgrey{
	border-top:4px solid #FF8040;
	border-bottom:1px solid #ABABAB;
	border-right:1px solid #ABABAB;
}

.borderleftbottomgrey{
	border-left:1px solid #ABABAB;
	border-bottom:1px solid #ABABAB;
}

.borderleftbottomgreyright{
	border-left:1px solid #ABABAB;
	border-bottom:1px solid #ABABAB;
	border-right:1px solid #ABABAB;
}

.borderleftbottomrightgrey{
	border-left:1px solid #ABABAB;
	border-bottom:1px solid #ABABAB;
	border-right:1px solid #ABABAB;
}

.bordergrey{
	border-top:4px solid #FF8040;
	border-left:1px solid #ABABAB;
	border-bottom:1px solid #ABABAB;
	border-right:1px solid #ABABAB;
}

.bordernoleftgrey{
	border-top:4px solid #FF8040;
	border-bottom:1px solid #ABABAB;
	border-right:1px solid #ABABAB;
}

.itemfonttitle{
	padding-top:8px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-top: -1.8em;
}

.itemfonttitlend{
	padding-top:2px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-top: -1.8em;
}

.itemfont{
	padding-top:1px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	margin-top: -1.8em;
}

.paytofonttop{
	padding-top:1px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-top: -0.2em;
}

.paytofontmiddle{
	padding-top:1px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-top: -1.5em;
}

.emptyrow{
	padding-top:1px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin-top: -2em;
}

.totalamount{
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
}

.bordertopgreyauth{
	border-top:4px solid #FF8040;
	border-left:1px solid #ABABAB;
	
}

.bordertopgreyauth{
	border-top:4px solid #FF8040;
	border-left:1px solid #ABABAB;
	
}

.bordertopgreyauthright{
	border-top:4px solid #FF8040;
	border-left:1px solid #ABABAB;
	border-right:1px solid #ABABAB;
	
}

.bordertopgreyendauth{
	border-top:4px solid #FF8040;
	border-left:1px solid #ABABAB;
	border-right:1px solid #ABABAB;
	
}

.borderonesidegreyauth{
	border-left:1px solid #ABABAB;
	
}

.borderonesidegreyauthright{
	border-left:1px solid #ABABAB;
	border-right:1px solid #ABABAB;
	
}
.borderbothsidegreyauth{
	border-left:1px solid #ABABAB;
	border-right:1px solid #ABABAB;
	
}


