/*body {
                margin: 0;
                padding: 0;
                background-color: #FAFAFA;
                font: 12pt;
            }*/
/**{transition:none!important}*///comment on 7.6.2017 reason : accordion not animate
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.page {
    width: 21cm;
    min-height: 29.7cm;
    padding: 1.5cm;
    margin: 1.5cm auto;
    border: 1px #ccc solid;
    /*border-radius: 5px;*/
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.subpage {
    /*padding: 1cm;
    border: 1px #ccc solid;
    height: 237mm;
    /*outline: 2cm #ccc solid;*/
}

@page {
    size: A4;
    margin: 0;
}
@media print {
    .page {
        margin: 0;
        border: initial;
        /*border-radius: initial;*/
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }


    .borderbottomboldright{
        border-top:3px double #ABABAB;
        border-bottom:1px solid #ABABAB;
        border-right:1px solid #ABABAB;
    }
}

.greybg{
    margin: 0;
    padding: 0;
    background-color: #CCC;
}

.comnamevc{
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
}

.medfont2{
    padding-top:1px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:10px;
    margin-top: -0.1em;
}
.medfont3{
    padding-top:1px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    margin-top: -1.0em;
}

.boldtitle{
    font-size:11px;
    font-weight:bold;
    color:#0F0F0F;
}

.boldtitleuppercase{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:bold;
    color:#0F0F0F;
    text-transform:uppercase;
}

.normtitle{
    font-size:11px;	
}

.tblsmall{
    border:1px solid #070707;
}

.intableheader{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:bold;
}

.bordertop{
    border-top:4px solid #ABABAB;
    border-left:1px solid #ABABAB;
    border-right:1px solid #ABABAB;
    border-bottom:1px solid #ABABAB;
}
.bordertopright{
    border-top:1px solid #ABABAB;
    border-left:1px solid #ABABAB;
    border-bottom:1px solid #ABABAB;
    border-right:1px solid #ABABAB;
}

.borderleft{
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
    border-left:1px solid #ABABAB;
    border-right:1px solid #ABABAB;
}

.borderdouble{
    border-left:1px solid #ABABAB;
    border-right:1px solid #ABABAB;
    border-top:4px double #ABABAB;
    border-bottom:4px double #ABABAB;
}

.borderhighlight{
    border-left:1px solid #ABABAB;
    border-right:1px solid #ABABAB;
    border-top:1px solid #ABABAB;
    border-bottom:1px solid #ABABAB;
}
.borderhighlightright{
    border-right:1px solid #ABABAB;
    border-top:1px solid #ABABAB;
    border-bottom:1px solid #ABABAB;
}

.borderhighlight_nd{
    border-left:1px solid #ABABAB;
    border-right:1px solid #ABABAB;
    border-bottom:1px solid #ABABAB;
}

.borderhighlightright_nd{
    border-right:1px solid #ABABAB;
    border-bottom:1px solid #ABABAB;
}

.borderdoubleright{
    border-right:1px solid #ABABAB;
    border-top:4px double #ABABAB;
    border-bottom:4px double #ABABAB;
}
.borderrightend{
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
    border-right:1px solid #ABABAB;
}

.borderbottomboldright{
    border-top:1px double #ABABAB;
    border-bottom:1px solid #ABABAB;
    border-right:1px solid #ABABAB;
}

.borderrightendtotal{
    border-right:1px solid #ABABAB;
    border-bottom:1px solid #ABABAB;
    border-top:1px solid #ABABAB;
}

.borderbottombold{
    border-top:1px solid #ABABAB;
    border-left:1px solid #ABABAB;
    border-right:1px solid #ABABAB;
    border-bottom:1px solid #ABABAB;
}
.borderbottomboldnoright{
    border-top:1px solid #ABABAB;
    border-left:1px solid #ABABAB;
    border-bottom:1px solid #ABABAB;
}
.bordertopgrey{
    border-top:4px solid #ABABAB;
    border-left:1px solid #ABABAB;
    border-bottom:1px solid #ABABAB;


}

.bordertoprightgrey{
    border-top:4px solid #ABABAB;
    border-bottom:1px solid #ABABAB;
    border-right:1px solid #ABABAB;
}

.borderleftbottomgrey{
    border-left:1px solid #ABABAB;
    border-bottom:1px solid #ABABAB;
}

.borderleftbottomgreyright{
    border-left:1px solid #ABABAB;
    border-bottom:1px solid #ABABAB;
    border-right:1px solid #ABABAB;
}

.bordersinglebottomgrey{
    border-left:1px solid #ABABAB;
    border-right:1px solid #ABABAB;
    border-bottom:1px solid #ABABAB;
}

.borderleftbottomrightgrey{
    border-left:1px solid #ABABAB;
    border-bottom:1px solid #ABABAB;
    border-right:1px solid #ABABAB;
}

.bordergrey{
    border-top:4px solid #ABABAB;
    border-left:1px solid #ABABAB;
    border-bottom:1px solid #ABABAB;
    border-right:1px solid #ABABAB;
}

.bordernoleftgrey{
    border-top:4px solid #ABABAB;
    border-bottom:1px solid #ABABAB;
    border-right:1px solid #ABABAB;
}

.itemfonttitle{
    padding-top:8px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    margin-top: -1.8em;
}

.itemfonttitlend{
    padding-top:2px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    margin-top: -1.2em;
}

.itemfont{
    padding-top:1px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:9px;
    margin-top: -1.2em;
}

.paytofonttop{
    padding-top:1px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    margin-top: -0.2em;
}

.forlisttitle{
    padding-bottom:5px;
}

.paytofontmiddle{
    padding-top:1px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    margin-top: -1.0em;
}

.paytofontsingle{
    padding-top:15px;
    padding-bottom:1px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    margin-top: -1.0em;
}

.emptyrow{
    padding-top:1px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    margin-top: -2em;
}

.totalamount{
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
}

.bordertopgreyauth{
    border-top:4px solid #ABABAB;
    border-left:1px solid #ABABAB;

}

.bordertopgreyauthright{
    border-top:4px solid #ABABAB;
    border-left:1px solid #ABABAB;
    border-right:1px solid #ABABAB;

}
.bordertopgreyauthright{
    border-top:4px solid #ABABAB;
    border-left:1px solid #ABABAB;
    border-right:1px solid #ABABAB;

}

.bordertopgreyauthrightrowspan{
    border-top:4px solid #ABABAB;
    border-left:1px solid #ABABAB;
    border-right:1px solid #ABABAB;
    border-bottom:1px solid #ABABAB;

}

.bordertopgreyendauth{
    border-top:4px solid #ABABAB;
    border-left:1px solid #ABABAB;
    border-right:1px solid #ABABAB;

}

.borderonesidegreyauth{
    border-left:1px solid #ABABAB;

}
.borderonesidegreyauthright{
    border-left:1px solid #ABABAB;
    border-right:1px solid #ABABAB;

}
.borderonesidegreyauthright{
    border-left:1px solid #ABABAB;
    border-right:1px solid #ABABAB;

}
.borderbothsidegreyauth{
    border-left:1px solid #ABABAB;
    border-right:1px solid #ABABAB;

}

.fontjv_item{
    font-size:11px;
}

.totalamount_jv{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
}

.intableheader_jv{
    font-size:11px;
    font-weight:bold;
}

.fonttotal{
    padding-top:1px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:10px;
    margin-top: -0.9em;
}

.tablevoucher{
}

.amount{
    text-align:center;
    font-size:14px;
}

.input-xs, select.input-xs {
    height: 20px;
    line-height: 20px;
    font-size:11px;
}



