body {
	padding: 0;
	padding-bottom:40px;
	margin: 0;
	line-height: 17px;
	background: #fff;
	color: #454545;
	font-family: Tahoma, sans-serif;
	font-size: 11px;
	/*scrollbar-base-color:#EFB069;*/
	display: block;
    page: main;
    counter-reset: page 1
}

@page { 
	@top-right { 
		content: "Page " counter(page) " of " counter(pages); 
	} 
}
@pageabc {
    @bottoma {
	contenta: "Page " counter(apage) " of " countera(pages)
    }
}

#search {
}

/* view report*/
#view {
}

#view .title {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight:bold;
	font-style:italic;
}

#view .sub_title {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight:bold;
	font-style:normal;
}

#view .sub_sub_title {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight:bold;
	font-style:normal;
}

#view .txtamount {
	text-align: right;
	width: 10%;
}

#view .totAmount {
	text-align: right;
	width: 10%;
	border-bottom:double black;
	border-top: 1px solid black;
	font-weight: bold;
}

#view .txt_trans1 {
	text-transform:capitalize;
}

#view .txt_trans2 {
	text-transform:uppercase
}

#view #list {
}

#list  th,tr,td {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style:normal;
	color : black;
}

#list th {
	font-weight: bold;
	background-color:#aeaeae;
}

.right {
	width: 100%;
	margin: 0 0 10px 0;
}

.right h3 {
	clear: both;
	background: #EFB069 url(images/corner.gif) no-repeat top right;
	color: #FFF;
	padding: 7px 0 7px 10px;
	font: bold 1em Tahoma, Arial, Sans-Serif;
	margin: 0 0 0px 0;
}

.overlimit {
	font-size:11px; 
	background-color:red;
	text-align:right;
	border-bottom : 1px solid #000000;
	border-right : 1px solid #000000;
}

.belowlimit {
	font-size:11px; 
	background-color:yellow;
	text-align:right;
	border-bottom : 1px solid #000000;
	border-right : 1px solid #000000;
	
}

.normallimit {
	font-size:11px; 	
	background-color:#ffffff;
	text-align:right;
	border-bottom : 1px solid #000000;
	border-right : 1px solid #000000;
}

.moduletable {
	width: 100%;
	margin: 0px 0px 15px 0px;
	border: 1px solid #E1E6E9;
	background-color:#FFFFFF;
}

input.submit {
	background: #E0691A url(images/submit.gif) repeat-x;
	border: 0;
	padding: 2px 1px 2px 1px;
	margin: 0px 2px 5px 0;
	color: #FFF;
	font: bold 11px Arial, Sans-Serif;
	border-bottom:#993300 1px solid;
	border-left:#993300 1px solid;
	border-top:#FFFF99 1px solid;
	border-right:#FFFF99 1px solid;
	vertical-align:bottom;
	cursor:pointer;
}

.txt_dir {
writing-mode: tb-rl;
filter:flipv() fliph();
}

.input_amt {
	text-align: right;
}
	

/*#view th{
	font-weight:bold;
}

#view tr,td{
	font-weight:normal;
}

#view th,tr,td {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style:normal;
}


tr,td,input,textarea {
	font-family: Tahoma, sans-serif;
	font-size: 9px;
}
*/

thead {display: table-header-group; }
tfoot {display: table-footer-group; }
thead th, thead td {position: static; }

input, select { 
	padding: 0;
	margin: 0;
	font-family: Tahoma, sans-serif;
	font-size: 11px;
}

input.submit {
	background: #E0691A url(images/submit.gif) repeat-x;
	border: 0;
	padding: 2px 1px 2px 1px;
	margin: 0px 2px 5px 0;
	color: #FFF;
	font: bold 11px Arial, Sans-Serif;
	border-bottom:#993300 1px solid;
	border-left:#993300 1px solid;
	border-top:#FFFF99 1px solid;
	border-right:#FFFF99 1px solid;
	vertical-align:bottom;
	cursor:pointer;
}

@media print {
      .hideonprint{ display: none; }
    }

.border1111 {
 	border:1px solid #000000;
 }
 
.border0111 {
 	border-top : None;
	border-left : 1px solid #000000;
	border-bottom : 1px solid #000000;
	border-right : 1px solid #000000;
 }
 
 .border0110 {
 	border-top : None;
	border-left : 1px solid #000000;
	border-bottom : 1px solid #000000;
	border-right : None;
 }
 
 .border1011 {
 	border-top : 1px solid #000000;
	border-left : None;
	border-bottom : 1px solid #000000;
	border-right : 1px solid #000000;
 }
 
 
.border0011 {
 	border-top : None;
	border-left : None;
	border-bottom : 1px solid #000000;
	border-right : 1px solid #000000;
 }
 
 .border0010 {
 	border-top : None;
	border-left : None;
	border-bottom : 1px solid #000000;
	border-right : None;
 }

   .border1000 {
 	border-top : 1px solid #000000;
	border-left : None;
	border-bottom : none;
	border-right : none;
 }
.border1110 {
 	border-top : 1px solid #000000;
	border-left : 1px solid #000000;
	border-bottom : 1px solid #000000;
	border-right : none;
 }
 
 .border0101 {
 	border-top : none;
	border-left : 1px solid #000000;
	border-bottom : none;
	border-right : 1px solid #000000;
 }
 
  .border0001 {
 	border-top : none;
	border-left : none;
	border-bottom : none;
	border-right : 1px solid #000000;
 }
 
   .border1001 {
 	border-top : 1px solid #00000;
	border-left : none;
	border-bottom : none;
	border-right : 1px solid #000000;
 }
 
 
 .border0100 {
 	border-top : None;
	border-left : 1px solid #000000;
	border-bottom : none;
	border-right : none;
 }
 /*dotted border*/
  .border0001_dotted {
 	border-top : none;
	border-left : none;
	border-bottom : none;
	border-right : 1px dotted #000000;
 }
 
 .border0001_double {
 	border-top: none;
	border-left : none ;
	border-bottom : none;
	border-right : 3px solid #000000;
 }
 
 /*bold border*/
  .border0100_double {
 	border-top: none;
	border-left : 2px solid #000000;
	border-bottom : none;
	border-right : none;
 }
 .border0001_double {
 	border-top: none;
	border-left : none ;
	border-bottom : none;
	border-right : 2px solid #000000;
 }
 .border0010_double {
 	border-top: none;
	border-left : none ;
	border-bottom : 2px solid #000000;
	border-right : none;
 }
 .border0110_double {
 	border-top: none;
	border-left : 2px solid #000000;
	border-bottom : 2px solid #000000;
	border-right : none;
 }
 .border1100_double {
 	border-top: 2px solid #000000;
	border-left : 2px solid #000000;
	border-bottom : none;
	border-right : none;
 }
 .border1101_double {
 	border-top: 2px solid #000000;
	border-left : 2px solid #000000;
	border-bottom : none;
	border-right : 2px solid #000000;
 }
 
  .border0101_double {
 	border-top: none;
	border-left : 2px solid #000000;
	border-bottom : none;
	border-right : 2px solid #000000;
 }
  .border0011_double {
 	border-top: none;
	border-left : none;
	border-bottom :2px solid #000000;
	border-right : 2px solid #000000;
 }
 
   .border1011_double {
 	border-top: 2px solid #000000;
	border-left : none;
	border-bottom :2px solid #000000;
	border-right : 2px solid #000000;
 }
 
  .border1110_double {
 	border-top: 2px solid #000000;
	border-left : 2px solid #000000;
	border-bottom : 2px solid #000000;
	border-right : none;
 }
 
 .border0111_double {
 	border-top: none;
	border-left : 2px solid #000000;
	border-bottom : 2px solid #000000;
	border-right : 2px solid #000000;
 }
 
 .border1010_double {
 	border-top : 2px solid #000000;
	border-left : none;
	border-bottom : double #000000;
	border-right : none;
 }
 .border1111_double {
 	border-top: 2px solid #000000;
	border-left : 2px solid #000000;
	border-bottom : 2px solid #000000;
	border-right : 2px solid #000000;
 }
 
 .border1000_double {
 	border-top: 2px solid #000000;
	border-left : none;
	border-bottom : none;
	border-right : none;
 }
 
 .border1001_double {
 	border-top: 2px solid #000000;
	border-left : none;
	border-bottom : none;
	border-right : none;
 }
 /*double and single*/
 .border_s10d10 {
 	border-top : 1px solid #000000;
	border-left : none;
	border-bottom : 2px solid #000000;
	border-right : none;
 }
 
  .border_0s1d10 {
 	border-top : none;
	border-left : 1px solid #000000;
	border-bottom : 2px solid #000000;
	border-right : none;
 }
 
 .border0s10d1{
 	border-top : none;
	border-left : 1px solid #000000;
	border-bottom : none;
	border-right : 2px solid #000000;
 }
  .border0d10d1{
 	border-top : none;
	border-left : 2px solid #000000;
	border-bottom : none;
	border-right : 2px solid #000000;
 }
 .border0s1d1d1{
 	border-top : none;
	border-left : 1px solid #000000;
	border-bottom : 2px solid #000000;
	border-right : 2px solid #000000;
 }
  .border0s1d1s1{
 	border-top : none;
	border-left : 1px solid #000000;
	border-bottom : 2px solid #000000;
	border-right : 1px solid #000000;
 }
  .border0d1d1d1{
 	border-top : none;
	border-left : 2px solid #000000;
	border-bottom : 2px solid #000000;
	border-right : 2px solid #000000;
 }
 
 .borderd1s1s1s1{
 	border-top : 2px solid #000000;
	border-left : 1px solid #000000;
	border-bottom : 1px solid #000000;
	border-right : 1px solid #000000;
 }
 
 .border_d1s1d10{
 	border-top : 2px solid #000000;
	border-left : 1px solid #000000;
	border-bottom : 2px solid #000000;
	border-right : none;
 }
 
 .borderd1s1d10{
 	border-top : 2px solid #000000;
	border-left : 1px solid #000000;
	border-bottom : 2px solid #000000;
	border-right : none;
 }
 
 .borderd1s1d1d1{
 	border-top : 2px solid #000000;
	border-left : 1px solid #000000;
	border-bottom : 2px solid #000000;
	border-right : 2px solid #000000;
 }
 
 .borderd1d1s1d1{
 	border-top : 2px solid #000000;
	border-left : 2px solid #000000;
	border-bottom : 1px solid #000000;
	border-right : 2px solid #000000;
 }
  .borderd1s1s10{
 	border-top : 2px solid #000000;
	border-left : 1px solid #000000;
	border-bottom : 1px solid #000000;
	border-right : None;
 }
 
   .border0s1s1d1{
 	border-top : none;
	border-left : 1px solid #000000;
	border-bottom : 1px solid #000000;
	border-right : 2px solid #000000;
 }
 
 .border0s1d10{
 	border-top : None;
	border-left : 1px solid #000000;
	border-bottom : 2px solid #000000;
	border-right : None;
 }
 
  .border0d1s10{
 	border-top : None;
	border-left : 2px solid #000000;
	border-bottom : 1px solid #000000;
	border-right : None;
 }
 
  .border0d1s1d1{
 	border-top : None;
	border-left : 2px solid #000000;
	border-bottom : 1px solid #000000;
	border-right : 2px solid #000000;
 }
  .border0d1d10{
 	border-top : None;
	border-left : 2px solid #000000;
	border-bottom : 2px solid #000000;
	border-right : None;
 }

 .border00d1s1{
 	border-top : None;
	border-left : None;
	border-bottom : 2px solid #000000;
	border-right : 1px solid #000000;
 }

.borderd1s1d1d1 {
 	border-top : 2px solid #000000;
	border-left : 1px solid #000000;
	border-bottom : 2px solid #000000;
	border-right : 2px solid #000000;
 }
 .borderd1d1s10 {
 	border-top : 2px solid #000000;
	border-left : 2px solid #000000;
	border-bottom : 1px solid #000000;
	border-right : None;
 }
  .borders1d1s10 {
 	border-top : 1px solid #000000;
	border-left : 2px solid #000000;
	border-bottom : 1px solid #000000;
	border-right : None;
 }
  .borders1s1d10 {
 	border-top : 1px solid #000000;
	border-left : 1px solid #000000;
	border-bottom : 2px solid #000000;
	border-right : None;
 }
  .borders1d1d10 {
 	border-top : 1px solid #000000;
	border-left : 2px solid #000000;
	border-bottom : 2px solid #000000;
	border-right : None;
 }
   .borders1s1d1d1 {
 	border-top : 1px solid #000000;
	border-left : 1px solid #000000;
	border-bottom : 2px solid #000000;
	border-right : 2px solid #000000;
 }
   .borders1s1s1d1 {
 	border-top : 1px solid #000000;
	border-left : 1px solid #000000;
	border-bottom : 1px solid #000000;
	border-right : 2px solid #000000;
 }
   .borders1d1s1d1 {
 	border-top : 1px solid #000000;
	border-left : 2px solid #000000;
	border-bottom : 1px solid #000000;
	border-right : 2px solid #000000;
 }
 .border0111_amt {
	border-top : none;
	border-left : 2px solid #000000;
	border-bottom : double #000000;
	border-right : 2px solid #000000;
 }
  .borders1111_amt {
	border-top : 1px solid #000000;
	border-left : 2px solid #000000;
	border-bottom : double #000000;
	border-right : 2px solid #000000;
 }
  .borders1110_amt {
	border-top : 1px solid #000000;
	border-left : 2px solid #000000;
	border-bottom : double #000000;
	border-right : none;
 }
  .borders1s110_amt {
	border-top : 1px solid #000000;
	border-left : 1px solid #000000;
	border-bottom : double #000000;
	border-right : none;
 }
 .borders1s111_amt {
	border-top : 1px solid #000000;
	border-left : 1px solid #000000;
	border-bottom : double #000000;
	border-right : 2px solid #000000;
 }
 .border0010_amt {
	border-top : none;
	border-left : none;
	border-bottom : double #000000;
	border-right : none;
 }