@charset "utf-8";
@media print
    {
    	#non-printable { display: none; }
    	#printable { display: block; }
    }
/* CSS Document */
.reportNo {
	text-align: right;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
}

/*.reportTitle {
	text-align: left;
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:500;
}

.cTitleNormalText {
	text-align: left;
	font-size:9px;
	font-family:Arial, Helvetica, sans-serif;
}

.cTitleNormalNumber {
	text-align: right;
	font-size:9px;
	font-family:Arial, Helvetica, sans-serif;
}

.dataNormalNumber {
	text-align: right;
	font-size:9px;
	font-family:Arial, Helvetica, sans-serif;
}

.dataBoldNumber {
	text-align: right;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:500;
}
.dataTitleText {
	text-align: left;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:500;
}

.dataTitleNumber {
	text-align: right;
	font-size:9px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:500;
}

.dataNormalText{
	text-align: left;
	font-size:9px;
	font-family:Arial, Helvetica, sans-serif;
}

.dataNormalCenter {
	text-align: center;
	font-size:9px;
	font-family:Arial, Helvetica, sans-serif;
}*/

.container{
	width:100%;
}

.dataTitleText {
	text-align: left;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:500;
}
.right {
	text-align: right;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
}
.cellTotals
{
	text-align: right;
	font-size:12px;
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:500;
	border-top:1px solid #000000; 
	border-left-style:none; 
	border-left-width:medium; 
	border-bottom-style:solid; 
	border-bottom-width:medium;
	border-bottom-color:#000000; 
	border-right-style:none; 
	border-right-width:medium;	
}

#table_1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#4B4B4B;
	padding:4px;
	border-collapse: collapse;
}

#table_2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:4px;
	border-collapse: collapse;
	border:1px solid #000;
}
#table_3{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	padding:4px;
	border-collapse: collapse;
}

#td_1{
	border-bottom:1px solid #000;
	border-right:1px solid #000;
	text-align:center;
}

#td_2{
	border-right:1px solid #000;
	text-align:center;
}

#td_3{
	border-bottom:1px solid #000;
	border-right:1px solid #000;
	text-align:center;
}

#td_4{
	border-bottom:1px solid #000;
	text-align:center;
}

#td_5{
	border-bottom:1px solid #000;
	border-right:1px solid #000;
	border-left:1px solid #000;
	text-align:center;
}
#td_6{
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	border-left:1px solid #000;
	text-align:center;
}
#td_7{
	border-right:1px solid #000;
	border-bottom:1px solid #000;
	border-left:1px solid #000;
	text-align:center;
}

#td_8{
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	border-left:1px solid #000;
	border-right:1px solid #000;
	text-align:center;
}

#td_9{
	border-top:1px solid #000;
	border-bottom:1px solid #000;
	border-right:1px solid #000;
	text-align:center;
}
#td_1a{
	border-bottom:1px solid #C6C6FF;
	border-left:1px solid #C6C6FF;
	border-right:1px solid #C6C6FF;
}

#thead_1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#626262;

	

	border-bottom: 1px solid #C7C7C7;

	

	

	text-transform: uppercase;

	text-align: left;

	padding: 6px 6px 6px 12px;

	background: #DDF url(image/bg_header.jpg) no-repeat;
}



input{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#626262;
}

.font_title{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#505050;
}

.select_1{
	border:1px solid #C6C6FF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#787878;
	line-height:20px;
}

.td_height{
	line-height:20px;
}

.fontinput{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	text-align:right;
}

.fonttitle{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	padding-top:1px;
	margin-top: -0.5em;
}
.fonttitletop{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	padding-top:1px;
}

.fontsubject{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	text-decoration:underline;
}

.nosubject{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}

.td_pad_subject{
	padding:5px;
}

.td_pad_content{
	padding-bottom:5px;
	padding-top:5px;
	padding-left:40px;
}

.fontcontent{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-indent:4 em;
}
