/*
This is FMS for Finance Management System 
Licensed to LKPP Corporation SDN BHD
*/
/* 
    Created on : Nov 15, 2015, 9:47:02 PM
    Author     : Dell
*/
 .headerfont{
	 color:#9d9d9d;
 }
 


/*#header {
	margin-top:0px;
    background-color:#057996;
    color:white;
    text-align:center;
	height:50px;
	padding:1px;
}
#nav {
    background-color:#eeeeee;
	height:100%;  
}
#section {
}*/

#left_div {
    width: 20%;
    float: left;
	font-weight:bold;
    
}
#right_div {
    width: 100%;
}

.startup{
    padding-left: 100px;
}
