#container {

	position: relative;

	width: 800px;

	margin: auto;

	height: 600px;

}


select#estate {
	font-family:Arial, Helvetica, sans-serif;
	font-style: normal;

	color: #6C6C6C;

	border: 1px solid;

	/*width: 140px;*/

	font-size: 12px;
	width:267px;

}

input#login {
	font-family:Arial, Helvetica, sans-serif;

	font-style: normal;
	font-weight:bold;

	color: #FFFFFF;

	border: 1px solid #ABABAB;

	width: 35%;

	font-size: 12px;

	background-color: #008080;

	cursor: pointer;
	height:23px;

}

.arial12 {

	font-family: Arial;

	font-size: 12px;

	color: #000000;

	

}

.item_title {

	font-family: Arial;

	font-size: 12px;

	color: #297F29;

	

}

.p_title {

	font-family: "Lucida Sans";

	font-size: 13px;

	color: #297F29;

	font-weight: normal;

}

.p_welcome {

	font-family: "Lucida Sans";

	font-size: 16px;

	color: #000000;

	font-weight: bold;

}

#kumpulanlogin {

	width: 569px;

	position: absolute;

	top: 15px;

	right: 419px;

	left: 372px;

	height: 310px;





}



#service {

	width: 100%;

	position: absolute;

	top: 435px;

	right: 7px;

	height: 33px;

}



.supportservicetable {

	font-family: Arial;

	width: 100%;

	margin: 0px 0px 0px 0px;

	border: 0px;

}

.supportservicetable td {

	font-size: 10px;

	font-weight: normal;

	border: 0px;

	lmargin-bottom: 10px;

	list-style-position: outside;

	border-top-style: none;

	border-right-style: none;

	border-bottom-style: none;

	border-left-style: none;

	list-style-type: disc;

	font-family: Arial;

	color: #000000;

	padding: 0px;

	margin: 50px;

}

.supportservicetable th {

	font-size: 11px;

	font-weight: bold;

	border: 0px;

	font-family: Arial;

	color: #000000;

	margin: 0px;

	text-align: center;

}

#image1{

	width: 152px;

	position: absolute;

	top: 261px;

	right: 687px;

	left: 403px;



}

#text {

	width: 623px;

	position: absolute;

	top: 393px;

	right: 165px;

	left: 312px;



}

#image2{

	width: 152px;

	position: absolute;

	top: 125px;

	right: 419px;

}

#log{
	background-image:url(../image/login_fms2.png);
	border-bottom:6px solid #008080;
	height:88px;
}

#middle{
	height:200px;
	background-image:url(../image/bar.png);
	background-repeat:repeat-x;
}

#bottom{
	height:88px;
	background-image:url(../image/login_fms1.jpg);
	border-top:6px solid #008080;
}

#logtable{
	border:1px solid #D9D9D9;
}

#btop{
	border-bottom:3px solid #D9D9D9;
}

#tbsmall{
	border:1px solid #D4D4D4;
}
.flogin{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	font-weight:bold;
	color:#575757;
	text-align:right;
}
.ftlogin{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#565656;
	font-weight:bold;
}
