/* project: internet services template
   author: luka cvrk (www.solucija.com) */

   
/* default styles
   -------------- */
   
/*body {
	padding: 0;
	padding-bottom:40px;
	margin: 0;
	line-height: 17px;
	background: #fff;
	color: #454545;
	font-family: Tahoma, sans-serif;
	font-size: 10px;
	scrollbar-base-color:#054309;
}*/

body {
	font: normal 11px auto "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	background: #E6EAE9;
}


table,tr,td,input,textarea {
	font-family: Tahoma, sans-serif;
	font-size: 10px;
}
td{
	vertical-align:top;
}
a{	
	color: #6C757A;	
	background: inherit;
}
a:hover{ 
	color: #E0691A; 
	background: inherit; 
}

h1{ 
	font: normal 2.1em Arial, Sans-Serif; 
	letter-spacing: -1px; 
	padding: 7px 0 0 8px; 
	margin: 0; 
}
.dark  { 
	color: #737373; 
	background: inherit; 
	font-weight: bold; 
}
h1 a, h2 a { 
	text-decoration: none; 
}
h1 a:hover, h2 a:hover { 
	color: #FF6600; 
	background: inherit; 
}

h2 { 
	margin-top: 5px;
	margin-bottom: 8px;
	padding: 0; 
	padding-top:1px;
	font: bold 1.7em Arial, Sans-Serif; 
	letter-spacing: -1px; 
	font-size: 18px; 
	margin-bottom: 5px; 
	color: #000; 
	background: inherit; 
	text-transform:capitalize;
}

h4 { 
	margin-top: 5px;
	margin-bottom: 8px;
	padding: 0; 
	padding-top:1px;
	font: bold 1.3em Arial, Sans-Serif; 
	letter-spacing: -1px; 
	font-size: 16px; 
	margin-bottom: 5px; 
	color: #575757; 
	background: inherit; 
	text-transform:capitalize;
}

p {	
	margin: 0 0 5px 0; 
}

ul {
	list-style-type:square;
	list-style-image:url(images/arr_list.gif);
	background-color: #B3FFB3;
}

input.search, select.search { 
	width: 300px; 
	height:24px;
	border: 0;
	background: #FFF url(images/input.gif) no-repeat;
	padding: 4px; 
	padding-top:7px;
}

input.search_35{ 
	width: 300px; 
	height:24px;
	border: 0;
	background: #FFF url(images/input_35.gif) no-repeat;
	padding: 4px; 
	padding-top:7px;
}
input.search_30{ 
	width: 228px; 
	height:24px;
	border: 0;
	background: #FFF url(images/input_25.gif) no-repeat;
	padding: 4px; 
	padding-top:7px;
}
input.search_25{ 
	width: 156px; 
	height:24px;
	border: 0;
	background: #FFF url(images/input_15.gif) no-repeat;
	padding: 4px; 
	padding-top:7px;
}
input.submit {
	background: #E0691A url(images/submit.gif) repeat-x;
	border: 0;
	padding: 2px 1px 2px 1px;
	margin: 0px 2px 5px 0;
	color: #FFF;
	font: bold 11px Arial, Sans-Serif;
	border-bottom:#993300 1px solid;
	border-left:#993300 1px solid;
	border-top:#FFFF99 1px solid;
	border-right:#FFFF99 1px solid;
	vertical-align:bottom;
	cursor:pointer;
}
input.submit_dis {
	background: #FF9966 url(images/submit_dis.gif) repeat-x;
	border: 0;
	padding: 2px 1px 2px 1px;
	margin: 0px 2px 5px 0;
	font: bold 11px Arial, Sans-Serif;
	border-bottom:#996600 1px solid;
	border-left:#996600 1px solid;
	border-top:#FFFFff 1px solid;
	border-right:#FFFFff 1px solid;
	vertical-align:bottom;
	color: #FFFFFF;
}
input.edit {
	background: url(images/edit.png) no-repeat;
	border: 0;
	width: 16px;
	margin: 0 0px 1px 0;
	color: #FFF;
	font: bold 1em Arial, Sans-Serif;
}

input.login { 
	width: 90px;
	font-size:10px;
	padding:0;
	margin:0px;
}

/* layout
   ------ */

.content {
	width: 100%;
	padding: 0px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	
}
.popup { 
	margin: 0 auto;
	width: 600px;
	padding: 10px; 
	
}

.header {
	height: 20px;
	color: #808080;
	border-bottom: 1px solid #ccc;
	width:100%;
	margin-top: 3px;
	margin-right: 0;
	margin-bottom: 3px;
	margin-left: 0;
	padding-top: 5px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 15px;
	background-color: #FFFFFF;
}
.header a{ 
	color:#0000FF;
}

.top_info {
	float: right;
	width: 605px;
	padding: 5px 0 4px 0;
	border-bottom: 1px solid #eee;
	background: #eee;
	color: #808080;
}

	.top_info_left {
		width: 200px;
		float: left;
	}

	.top_info_right {
	/*float: right;*/
		width: 590px;
	border-left: 1px solid #eee;
	text-align:right;
	padding-top: 0;
	padding-right: 100px;
	padding-bottom: 0;
	padding-left: 0px;
	}

.browse_category  {
	font-size: 0.9em;
	width: 190px;
	color: #FFF;
	background: inherit;
}

.bar {
	clear: both;
	font-size: 13px;
	height: 30px;
	color: #FFF;
	background-color: #08430B;
	width:100%;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0px;
}

	.bar li {
	margin: 0;
	padding: 7px 12px 5px 12px;
	color: #FFFFFF;
	float: left;
	background-color: #08430B;
	}
	
	.bar li.active {
	color: #fff;
	font-weight: bold;
	padding: 7px 10px 6px 10px;
	background-color: #009966;
	background-image: url(images/bar.gif);
	background-repeat: no-repeat;
	background-position: center top;
	}
	
	.bar li a {
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	background-color: #08430B;
	} 
	
	.bar li a:hover {
	color: #9BBCDD;
	background-color: #08430B;
	} 

.search_field { 
	background: #fff url(images/searchbg.gif) no-repeat right; 
	color: #808080;
	clear: both;
	font-weight: bold;
	padding: 7px 25px 10px 10px;
	margin: 5px 0;
}

.grey {
	color: #808080;
	background: inherit;
	font-weight: normal;
}

.search_form { float: right; }

.subheader {
	margin: 0px 0 10px 0;
	border-bottom: 1px solid #eee;
	padding: 5px 0 5px 0;
	background: #A4A4A4;
	color: #fff;
}

/* right side
   --------- */

.right {
	width: 100%;
	margin: 0 0 10px 0;
}

.right h3 {
	clear: both;
	background: #08430B url(images/corner.gif) no-repeat top right;
	color: #FFF;
	padding: 7px 0 7px 10px;
	font: bold 1em Tahoma, Arial, Sans-Serif;
	margin: 0 0 0px 0;
}
		
.right_box {
	background: #f5f5f5;
	color: #414141;
	padding: 8px;	
	margin: 0 0 3px 0;
}

	.left_side {
		float: left;
		width: 45%;
		padding: 0 0 0 10px;
		margin: 10px 0;
	}
		
	.left_side a, .right_side a { color: #414141; background: #FFF; }
		
	.right_side {
		float: right;
		width: 50%;
		background: #FFF url(images/dotted.gif) repeat-y;
		color: #414141;
		padding: 0 0 0 40px;
		margin: 10px 0;
	}
		
		
/* left side
   ---------- */
.left {
	float: left;
	width: 220;
	margin: 0 0 10px 0;
}
.left h3 {
	color: #FFF;
	padding: 7px 0 7px 10px;
	font: bold 1em Tahoma, Arial, Sans-Serif;
	margin: 0 0 3px 0;
	background-color: #08430B;
	background-image: url(images/corner.gif);
	background-repeat: no-repeat;
	background-position: right top;
}
.left_articles {
	color: #414141;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 3px;
	margin-left: 0;
	padding-top: 2px;
	padding-right: 8px;
	padding-bottom: 2px;
	padding-left: 8px;
	height:30px;
	background-color: #FFFFFF;
}
.msgtext {
	background: #f5f5f5;
	color: #414141;
	padding: 8px;	
	margin: 0 0 3px 0;
	text-align:center;
	border:thin #797979;
}
.left_box {
	background: #f5f5f5;
	color: #414141;
	padding: 8px;	
	margin: 0 0 3px 0;
}
.table1 th{
	background: #6C757A  url(images/corner.gif) no-repeat top right;
	color: #FFF;
	font: bold 1em Tahoma, Arial, Sans-Serif;
	margin-bottom: 3px;
	padding-top: 7px;
	padding-right: 0;
	padding-bottom: 7px;
	padding-left: 5px;
} 	
.table1 td{
	color: #000000;
	font-family: Tahoma, Arial, Sans-Serif;
	font-size: 1em;
	font-weight: normal;
	background-color: #FFFFFF;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 3px;
	margin-left: 0;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 2px;
	padding-left: 4px;
	border-top-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
} 		
.image {
	float: left;
	margin: 0 9px 3px 0;
}
.sidetable {
	width: 100%;
	margin: 0px 0px 15px 0px;
	border: 0em solid f5f5f5;
}
.sidetable th {
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	background: #006600  /*url(images/corner.gif) no-repeat top right*/;
	text-align: left;
	text-transform: capitalize;
	padding-top: 2px;
	padding-right: 2px;
	padding-left: 10px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-bottom-style: none;
	border-left-style: none;
	vertical-align:top;
}
.sidetable td {
	font-size: 10px;
	font-weight: normal;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	border: 1px solid #E1E6E9;
}
.moduletable {
	width: 100%;
	margin: 0px 0px 15px 0px;
	border: 0em solid #000000;
	background-color:#FFFFFF;
}
.moduletable th {
	vertical-align: middle;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	text-transform: uppercase;
	background-color: #054309;
	background-image: url(images/corner.gif);
	background-repeat: no-repeat;
	background-position: right top;
	height: 24px;
	width: auto;
	padding-top: 2px;
	padding-right: 2px;
	padding-left: 2px;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: solid;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #ECE9D8;
	border-right-color: #ECE9D8;
	border-bottom-color: #ECE9D8;
	border-left-color: #ECE9D8;
}
.moduletable th.side {
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	background: #006600  /*url(images/corner.gif) no-repeat top right*/;
	text-align: left;
	text-transform: capitalize;
	padding-top: 2px;
	padding-right: 2px;
	padding-left: 10px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-bottom-style: none;
	border-left-style: none;
	vertical-align:top;
}
.moduletable th.side_02 {
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	background: #006600  /*url(images/corner.gif) no-repeat top right*/;
	text-align: center;
	text-transform: capitalize;
	padding-top: 2px;
	padding-right: 2px;
	padding-left: 2px;
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	vertical-align:middle;
}
.moduletable td {
	font-size: 10px;
	font-weight: normal;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
	padding-left: 4px;
	border: 1px solid #000000;
}
.moduletable td.td_right {
	text-align:right;
	padding-right:8px;
}
.td_right {
	text-align:right;
	padding-right:8px;
}
td{
	padding-left:2px;
}
.td_center {
	text-align:center;
}
.td_vmiddle{
	vertical-align:inherit;
	text-align:center;
}
.moduletable ul {
	color: #ff0000;
}


/* footer
   ------ */

.footer { 
	clear: both;
	text-align: center;
	padding: 10px 0 10px 0;
	margin: 0;
	border-top: 1px solid #ccc;
	line-height: 1.8em;
}

.footer a { color: #808080; background: #fff; }

.tr_active{
	background-color:#FFCE82;
}

/*fara add.... 11 ogos 2006*/
table.login {
	font-size:11px;
	padding: 0px;
	margin:0px;
}

#header.print1{
	height:90px;
}

#menu{
	color: #414141;
	font-size: 12px;
	background-color: #FFFFFF;
}
#menu a{
	padding: 0;
	margin: 0;
	color: #454545;
	font-family: Tahoma, sans-serif;
	text-decoration:none;
	font-size: 12px;
}

#menu a:hover{
	color: #A34303;
}

#menu .menu_1{
	cursor:pointer;
	font-weight:bold;
	background-color:#FFFFFF;
}

#menu .menu_2{
	cursor:pointer;
	font-weight:normal;
	margin-left: 0px;
}
#menu .menu_2_act{
	cursor:pointer;
	font-weight:normal;
	color:#E0691A;
	margin-left: 0px;
}
#menu .menu_2_head{
	cursor:default;
	font-weight:bold;
	color:#2D8C9C;
	margin-left: 16px;
	padding-top:8px;
}
.emailunread{
	color:#E0691A;
	font-weight:bold;
}
.warning{
	color:#E0691A;
	font-weight:bold;
	margin-right: 10px;
	margin-top:3px;
}
.buttonarea{
	text-align:center;
}
input, select { 
	padding: 0;
	margin: 0;
	font-family: Tahoma, sans-serif;
	font-size: 11px;
}
.sta_check{
	background-color:#F5FABD;
}
.sta_approve{
	background: #D5E6F3;
}
.sta_post{
	background:#EDDEED;
}
.sta_locset{
	background:#D0FAE0;
}
.sta_harversterset{
	background:#FBD7E7;
}
.sta_others{
	background:#ECEAED;
}
.imgbtn{
	cursor:pointer;
}

/**/

div#tbl-container {
width: 100%;
height: 300px;
overflow: auto;
scrollbar-base-color:#054309;
border-bottom:#054309 thick solid;
}



thead th.locked {z-index: 30;}


div#tbl-container table th {
	height:40px
}

table {
border-collapse: collapse;
}


thead th, thead th.locked	{
position:relative;
}
	
div#hideShow{
	position:absolute;
	left:449px;
	top:99px;
	width:100%;
	background: #f5f5f5;
	color: #414141;
	padding: 5px;
	margin: 0 0 3px 0;
	border:  #6C757A thin solid;
	display:block;
}
#hideShow h1{
	padding-bottom:5px;
	background: #6C757A  url(images/corner.gif) no-repeat top right;
	color: #FFF;
	padding: 7px 0 7px 10px;
	font: bold 1em Tahoma, Arial, Sans-Serif;
	margin: 0 0 3px 0;
}
#hideShow a{
	color: #FFCE82;
	text-decoration:none;
	padding-right:2px;
	padding-left:2px;
	font-weight:bold;
	border: FFCE82 solid 1px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:8px;
}#hideShow a:hover{
	color: #FFF;
	font-weight:bold;
	border: #FFF solid 1px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:8px;
}
div .btn_center{
	text-align:center;
}
div .btn_print{
	text-align:right;
	float:right;
	padding-right:40px;
	padding-top:10px;
}

/*Css for printing*/
div #printpage{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
	text-align:center;
}

#printpage table,tr,td{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#000000;
}
#printpage table{
	width:98%;
	border:thin;
}
#printpage td{
	padding-left:10px;
	padding-right:10px;
}
#printpage td.lt{
	border-left:#797979 solid 1px;
	border-top:#797979 solid 1px;
}
#printpage td.ltr{
	border-left:#797979 solid 1px;
	border-top:#797979 solid 1px;
	border-right:#797979 solid 1px;
}
#printpage td.ltb{
	border-left:#797979 solid 1px;
	border-top:#797979 solid 1px;
	border-bottom:#797979 solid 1px;
}
#printpage td.ltbr{
	border-left:#797979 solid 1px;
	border-top:#797979 solid 1px;
	border-bottom:#797979 solid 1px;
	border-right:#797979 solid 1px;
}
#printpage td.printheader{
	height:80px;
	border:#797979 solid 1px;
}
#printpage h1{
	font-size:16px;
	font-weight:bold;
	text-transform:capitalize;
}
#printpage h2{
	font-size:14px;
	font-weight:bold;
	text-transform:capitalize;
}
#printpage h3{
	font-size:12px;
	font-weight:bold;
}
.hilight_red{
	color:#FF0033;
	font-weight:bold;
}
/*CSS for printing header*/
#printHead { 
	height: 85px;
	margin: 3px 0;
	padding: 5px 0 0 15px;
	border-bottom: 1px solid #ccc;
	width:1014px; 
}
.must{
 background-color:#FDEEBC;
}

#divtrans {
	width:100%;
position:absolute;
height:100%;
background-color:#F00;
filter:alpha(opacity=50);
-moz-opacity:0.5;
-khtml-opacity: 0.5;
opacity: 0.5;

}


