body{
	padding:0;
	margin-top:0;
	margin-left:0;
}

div.tableContainer {

	width: 100%;		/* table width will be 99% of this*/

	 	 /* must be greater than tbody*/

	overflow: auto;

	margin: 0 auto;

	

	}



div.tableContainer table {

	width: 100%;		/*100% of container produces horiz. scroll in Mozilla*/

	border: none;

	/*background-color: #f7f7f7;*/

	}

	

div.tableContainer table>tbody	{  /* child selector syntax which IE6 and older do not support*/

	overflow: auto; 

	height: 250px;

	overflow-x: hidden;

	}

	

thead tr	{

	/*position:relative; 

	top: expression(offsetParent.scrollTop);*/

	}

	

th {

	/*font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#E0E0E0;

	

	border-bottom: 1px solid #C7C7C7;

	

	

	text-transform: uppercase;

	text-align: left;

	padding: 6px 6px 6px 12px;

	background: #057996;*/
	
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#E0E0E0;

	

	/*border-bottom: 3px solid #565656;*/

	

	

	text-transform: uppercase;

	text-align: left;

	padding: 6px 6px 6px 12px;

	background: #057996;

}	

	

thead td {

	font: bold 14px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;

	text-align: center;

	/*font-size: 14px; */

	background-color: oldlace;

	color: steelblue;

	font-weight: bold;

	/*border-top: solid 1px #d8d8d8;*/

	}	



tr.alt  { 



/*
background: #F5FAFA;
color: #B4AA9D; */

background: #F0F8FF;
/*background: #F5FAFA;*/
color:#000000;

} 


tr.normal  { 



/*
background: #F5FAFA;
color: #B4AA9D; */



color:#000000;
background: #fff;
}

tr {

/*
background: #fff;

*/
color:#000000;
height:20px;

}

td {

font-family:Arial, Helvetica, sans-serif;
	
	color:#575757;


	
	/*background:#FFF;*/

	padding: 6px 6px 6px 12px;
	
	

}

.td_topbar{
	background-image:url(../image/header.gif);
	background-repeat:repeat-x;
	line-height:10px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#F8F8F8;
}

.a_logout a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFF;
}
.a_logout a:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFF;
}

.a_logout a:active{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFF;
}

.a_logout a:visited{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FFF;
}
	

.bd_bottom{
	
border-bottom: 1px solid #E5E5E5;
background-color:#FFF;
font-size:12px;
}

.bd_bottomsub{
	
border-bottom: 1px solid #E5E5E5;
background-color:#FFEAF4;
}

.bd_bottomup{
	
border-bottom: 1px solid #E5E5E5;
border-top: 2px solid #A0A0A0;
}

.td_bottomx{
	
border-bottom: 1px solid #E5E5E5;
border-top: 1px solid #E5E5E5;
}





td.alt {



	/*color: #797268;*/

}



/*	

td	{

	color: #000;

	padding-right: 2px;

	font-size: 12px;

	text-align: right;

	border-bottom: solid 1px #d8d8d8;

	border-left: solid 1px #d8d8d8;

	}

*/

	

table tfoot tr { /*idea of Renato Cherullo to help IE*/

      position: relative; 

      overflow-x: hidden;

      

      }





tfoot td	{

/*

font: normal 14px "Trebuchet MS", Tahoma;

	text-align: center;

	//font-size: 11px;

	font-weight: bold;

	background-color: papayawhip;

	//color: steelblue;	

	

	background: #CAE8EA url(image/bg_header.jpg) no-repeat;

	



	border-top: solid 1px slategray;

	*/
	
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#E0E0E0;
border-top: 1px solid #C7C7C7;
	
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #057996 url(image/bg_header.jpg) no-repeat;
	

	

	}



td:last-child {padding-right: 20px;} /*prevent Mozilla scrollbar from hiding cell content*/



.headerbar {

	background: #ebebeb none repeat-x 0 0;

	color: #FFFFFF;

	margin-bottom: 4px;

	padding: 0 5px;

}



span.corners-top, span.corners-bottom, span.corners-top span, span.corners-bottom span {

	font-size: 1px;

	line-height: 1px;

	display: block;

	height: 5px;

	background-repeat: no-repeat;

}



span.corners-top {

	background-image: none;

	background-position: 0 0;

	margin: 0 -5px;

}



span.corners-top span {

	background-image: none;

	background-position: 100% 0;

}

.myButton {
    background:url(/images/Btn.PNG) no-repeat;
    cursor:pointer;
    width: 200px;
    height: 100px;
    border: none;
}

.button_add {

padding: 5px 0px 5px 15px;

  /*border: 1px solid #C7C7C7;*/

  color:#686868;

  text-decoration:none;

  background: #E9E9E9 url(../image/icon/1356008620_plus.png) no-repeat scroll 5px center;


}

.button_print {

padding: 5px 5px 5px 25px;

  border: 1px solid #C7C7C7;

  color:#686868;

  text-decoration:none;

  background: #dcdcdc url(../image/icon/1356008872_print.png) no-repeat scroll 5px center;


}

#maindiv{
border:1px solid #D5D5D5;
width:100%;
padding:2px;	
}

.td_none{
	border:none;
}

.status_green {
	background-color:#009F28;
	padding-left:6px;
	padding-right:6px;
	padding-bottom:1px;
	padding-top:1px;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	   behavior: url(PIE.htc);
       border-radius: 15px;
      -moz-border-radius:15px;
      -webkit-border-radius:15px;
}
.status_red {
	background-color:#CE0000;
	padding-left:9px;
	padding-right:8px;
	padding-bottom:1px;
	padding-top:1px;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	   behavior: url(PIE.htc);
       border-radius: 15px;
      -moz-border-radius:15px;
      -webkit-border-radius:15px;
}

.status_orange {
	background-color:#DD6F00;
	padding-left:2px;
	padding-right:2px;
	padding-bottom:1px;
	padding-top:1px;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	   behavior: url(PIE.htc);
       border-radius: 15px;
      -moz-border-radius:15px;
      -webkit-border-radius:15px;
}

.status_blue {
	background-color:#00F;
	padding-left:8px;
	padding-right:8px;
	padding-bottom:1px;
	padding-top:1px;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	   behavior: url(PIE.htc);
       border-radius: 15px;
      -moz-border-radius:15px;
      -webkit-border-radius:15px;
}

#bdmain{
	/*border-bottom:3px solid #008080;*/
	border-bottom:3px solid #dddddd;
	/*background-image:url(../image/bar_con.gif);*/
	background-repeat:repeat-x;
	height:30px;
	padding:0px;

}


#bgmenu a{
	display: block; width: 100%; height: 100%;
	/*padding-top:6px;*/
	text-align:center;
	/*border-bottom:3px solid #008080;*/
	/*border-bottom:2px solid #dddddd;*/
	background-image:url(../image/menu_un.gif);
	background-repeat:repeat-x;
	height:30px;
	font-weight:bold;
	text-decoration:none;
	color:#383838;
	

}

#bgmenu a:hover{
	display: block; width: 100%; height: 100%;
	text-align:center;
	/*border-bottom:3px solid #008080;*/
	/*border-bottom:2px solid #dddddd;*/
	background-image:url(../image/menu_a.gif);
	background-repeat:repeat-x;
	height:30px;
	font-weight:bold;
	text-decoration:none;
	color:#383838;

}
#secondtable{
	width:100%;
	/*border-right:4px solid #dddddd;
	border-left:4px solid #dddddd;*/
}

.tfont{
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#606060;
	font-weight:bold;
	/*letter-spacing:0.02em;*/
}

.title{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#626262;

	text-transform: uppercase;

	text-align: left;

	padding: 6px 6px 6px 12px;

}

.s_search{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#626262;

	text-transform: uppercase;

	text-align: left;
	padding-left:0px;

	/*padding: 6px 6px 6px 12px;*/
}

.norec{
	color:#FF0909;
	font-weight:bold;
}

.bigfont{
	font-family:Arial, Helvetica, sans-serif;
	font-size:30px;
	line-height:20%;
	text-indent:1px;
}
.bigcode{
	font-family:Arial, Helvetica, sans-serif;
	font-size:30px;
	
}
.highfont{
	
	line-height:10%;
	text-indent:3px;
}

.exceed{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#E10000;
	font-weight:bold;
}

.notice{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#FF8000;
	font-weight:bold;
}

.afterimg{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#626262;
}

.balance{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#004080;
	font-weight:bold;
}

.order a{
	font-style:italic;
	color:#F00;
	text-transform:none;
	text-decoration:none;
}
.tsearch{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#404040;
	line-height:8px;
}

.radiostyle{
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	background: url(checkbox.png) no-repeat;
	display: block;
	clear: left;
	float: left;
}

.addmem{
	cursor:pointer;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
}

#smalltab{
	padding:0px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	text-transform:none;
}

.colleft{
	border-left:1px solid #dddddd;
	border-top:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
}

.colright{
	border-left:1px solid #dddddd;
	border-right:1px solid #dddddd;
	border-top:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
}


#menutab {
	/*line-height:1px;*/
	padding-left:0px;
	margin-left: -0.1em;
	cursor:pointer;
}

#menutab1{
	/*line-height:1px;*/
	padding-right:0px;
	cursor:pointer;
	margin-right: -0.1em;
}

#el01 {
color:#00f;
}
#el02 {
background-color:#ddd;
}
#el03 {
color:#fff;
background-color:#33b;
}
#el04 {
border-width:4px;
}
#el05 {
border-color:#00f;
}
#el06 {
border:0;
}
#el07 {
font-family:"Courier New", Courier;
}
#el08 {
font-size:150%;
}
#el09 {
font-size:10%;
}
#el10 {
font-weight:bold;
}
#el11 {
padding:0;
}
#el12 {
margin:0;
text-align:right;
width:10em;
}


.test {
	background-color:#929292;

    color:#FFF;
    text-align:right;
    font-size: 12px;
    line-height: 30px;
  
}



.test:hover {
	background-color:#181818;
  
}

.lotdesc{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#181818;
	text-transform:none;
	padding-top:1px;
	margin-top: -0.1em;
}

.lotdesclow{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#606060;
	text-transform:none;
	padding-top:1px;
	margin-top: -0.7em;
}

.itemdesc{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#181818;
	text-transform:capitalize;
	margin-top: -0.25em;
}

.itemdesclow{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#606060;
	text-transform:capitalize;
	margin-top: -0.7em;
	margin-bottom: -0.1em;
}

.itemup{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#606060;
	text-transform:capitalize;
	padding-top:1px;
	margin-top: -0.1em;
}

.itemdown{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#181818;
	text-transform:capitalize;
	padding-top:1px;
	margin-top: -0.7em;
}


.savebutton{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	padding-top:1px;
	margin-top: -0.2em;
	margin-bottom: -0.2em;
}

.fontpagex a:visited{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FFF;
	text-decoration:none;
	
}
.fontpagex a{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FFF;
	text-decoration:none;
	
}

.fontpagex{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FFF;
	text-decoration:none;
	
}

.fontpagex a:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FFB366;
	text-decoration:none;
	
}
.fontpagex a:active{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#FFB366;
	text-decoration:none;
	
}

.pageselect{
	color:#050505;
	font-size:11px;
}

.zindexbut{
	z-index:1000;
	display:inherit;
	
}

.tblchargeto{
	width:100px;
}

.borderheader{
	border-top:3px solid #2b2525;
}

#borderheaderbottom{
	border-bottom:3px solid #CACACA;
	line-height:9px;
	/*padding-top:-2.5em;*/
}

.small_item{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
}

.innertable{
	background-color:#FFF;
}
.thleft{
	
	background-color:#057996;
	font-weight:bold;
	color:#FFF;
}

.thright{
	
	background-color:#057996;
	font-weight:bold;
	color:#FFF;
}

.tdleft{
	border-bottom:1px solid #DEDEDE;
	border-left:1px solid #DEDEDE;
	background-color:#FFF;
}

.tdright{
	border-bottom:1px solid #DEDEDE;
	border-left:1px solid #DEDEDE;
	background-color:#FFF;
}
.tdrightend{
	border-bottom:1px solid #DEDEDE;
	border-left:1px solid #DEDEDE;
	border-right:1px solid #DEDEDE;
	background-color:#FFF;
}

.fontstepbold{
	font-weight:bold;
}

.fontstepnorm{
	color:#C9C9C9;
}



.font_staff{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#323232;
	text-transform:capitalize;
	margin-top: -0.25em;
}

.font_stafflow{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#606060;
	text-transform:capitalize;
	margin-top: -0.7em;
	margin-bottom: -0.1em;
}

.font_tree{
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
}

.buttontbl{
	font-size:9px;
	color:#4F4F4F;
	padding-left:3px;
	padding-right:3px;
	margin-right:3px;
}

