@media print {

    #printlist {display:none;}
    #backtolist {display:none;}
    .addtab {display:none;}
    .edittab {display:none;}
    .printtab {display:none;}
    .deltab {display:none;}
    input[type=button] {
        display: none;
    }

}


.bigfonttitle{
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
    color:#494949;
}

.midfonttitle{
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#999;
}

.bigtitle{
    font-family:Arial, Helvetica, sans-serif;
    font-size:26px;
    color:#494949;
}
.bigtitlebold{
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
    color:#000;
}


h1{
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif;
    color:#666
}

.borderbot{
    border-bottom: 3px solid #057996;
}

#table_2{

    width:100%;
    font-family:Arial, Helvetica, sans-serif;
    font-size:11px;
    color:#626262;
    padding:4px;
    border-collapse: collapse;
    /*border:1px solid #C6C6FF;*/
}

.table_3{

    width:100%;
    font-family:Arial, Helvetica, sans-serif;
    font-size:10px;
    color:#626262;
    padding:4px;
    border-collapse: collapse;
    /*border:1px solid #C6C6FF;*/
}


.bd_head{

    border-bottom: 1px solid #E5E5E5;
    background-color:#EAEAEA;
    font-size:12px;
    padding:5px;
    line-height:22px;
}

.bd_bottom{

    border-bottom: 1px solid #E5E5E5;
    background-color:#FFF;
    font-size:12px;
    padding:5px;
    line-height:22px;

}



.bd_bottom_d{

    border-bottom: 1px solid #E5E5E5;
    background-color:#FFF;
    font-size:12px;
    padding:5px;
    line-height:22px;

}
.bd_bottom2{

    border-bottom: 1px solid #E5E5E5;
    background-color:#BCDEDE;
    font-size:12px;
    padding:5px;
    line-height:22px;
    border-right: 1px solid #BCDEDE;
}
.bd_bottom3{

    border-bottom: 1px solid #E5E5E5;
    background-color:#E4CBCB;
    font-size:12px;
    padding:5px;
    line-height:22px;
    border-right: 1px solid #E4CBCB;
}

.bd_bottom4{

    border-bottom: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
    background-color:#fff;
    font-size:12px;
    padding:5px;
    line-height:22px;
    border-right: 1px solid #fff;
}
.bd_bottom_x{

    border-bottom: 1px solid #E5E5E5;
    background-color:#FFF;
    padding:5px;
    line-height:22px;
}

.headerlistfunction{
    border-bottom: 1px solid #3F3F3F;
    color:#3F3F3F;
    padding:5px;
}
.buttontbl{
    font-size:9px;
    color:#4F4F4F;
    padding-left:3px;
    padding-right:3px;
    margin-right:3px;
}

.imgbtn{
    padding-right:2px;
    padding-left:2px;
}

.highlight{
    font-size:12px;
    color:#fff;
    background-color:#8A8A8A;
    font-weight: bold;
}

.select_td{

    border-bottom: 1px solid #E5E5E5;
    font-size:12px;
    padding:5px;
    line-height:22px;
}

.pro_bar{
    font-size:9px;
    /*width:100px;
    height: 5px;
    border: 1px solid #E5E5E5;*/

}

.colin{
    display:inline;
    padding-right: 200px;
}

.highlight_progress{
    font-size:12px;
    color:#0080FF;
    background-color:#8A8A8A;
    cursor:pointer;
}

.bgclr{
    background-color:#BCDEDE;
}

#mainscore{
    padding-left: 25px;
    font-size: 28px;
}

.complete{
    font-size: 26px;
}

#barinline{
    display:inline;
}

#currentcpo{
    height:40px;
    vertical-align:middle;
    font-size:18px;
} 

#amountinput{
    width:250px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:26px;
    font-weight:bold;
    padding:10px;
}

.smalltitle{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
}

#table_left{
    border:4px solid #E5E5E5;
    padding:5px;
}

#table_right{
    border:4px solid #E5E5E5;
    padding:5px;
}
.norecord{
    color:#C60;
    font-weight:bold;
}

.table_title{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:bold;
}

#calendar_table{
    border:1px solid #E5E5E5;
    padding:10px;
}

#th_cal{
    background-color:#FFD5BF;
}

.td_cal_yes{
    padding:5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:10px;
    cursor:pointer;
    border:1px solid #C1C1C1;

}
.td_cal_hover{
    padding:5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:10px;
    cursor:pointer;
    background-color:#084;
    color:#CCC;

}

.td_cal_highlight{
    padding:5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:10px;
    cursor:pointer;
    background-color:#C90;
    color:#CCC;

}

.td_title_period{
    background-color:#C9C9C9;
    padding:5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    font-weight:bold;
}

.output{
    padding-top:10px;
    height:23px;
    border-bottom:1px solid #E5E5E5;
    vertical-align:middle;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
}

.bd_bottom_post{
    font-family:Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #E5E5E5;
    background-color:#FFF;
    font-size:10px;
    padding:3px;

}
.bd_bottom_list{
    font-family:Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #E5E5E5;
    background-color:#FFF;
    font-size:11px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;

}

.bd_post_general{
    font-family:Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #E5E5E5;
    background-color:#FFF;
    font-size:12px;
    padding:4px;

}

.bd_post_general_highlight{
    font-family:Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #E5E5E5;
    background-color:#FFF;
    font-size:12px;
    padding:4px;
    font-weight:bold;

}

.bd_post_header{
    font-family:Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #E5E5E5;
    background-color:#999;
    font-size:12px;
    color:#FFF;
    padding:5px;

}

.bd_gene_header{
    font-family:Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #E5E5E5;
    background-color:#999;
    font-size:12px;
    color:#FFF;
    padding:5px;

}

.div_content{
    display:block;
    padding:10px;
    margin:10px;
    border:1px solid #CCC;
}

.div_lot_item_top{
    height:100px;
    border-bottom:1px solid #CCC;
    border-top:1px solid #CCC;
    vertical-align:middle;
}

.div_lot_item{
    display:block;
    height:100px;
    border-bottom:1px solid #CCC;
    vertical-align:middle;

}

.div_lot_title{
    padding-bottom:10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
}

.lot_font_highlight{
    font-family:Arial, Helvetica, sans-serif;
    font-size:30px;
    font-weight:bold;
    color:#666;
}

.border_bottom{
    border-bottom:2px solid #000;
}

.font_inheader_normal{

    background-color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding:0px;
    line-height:10px;
    margin-bottom:5px;

}

.column_head_style{
    font-family:Arial, Helvetica, sans-serif;
    font-size:10px;
    line-height:20px;
}
.column_head_style_bold{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    line-height:2px;
    font-weight:bold;
}

.title_row_font_main {
    font-family:Arial, Helvetica, sans-serif;
    font-size:10px;
    font-weight:bold;
    line-height:20px;
}

.title_row_font_sub{
    font-family:Arial, Helvetica, sans-serif;
    font-size:10px;
    text-transform:capitalize;
    line-height:10px;
}

.total_row_font{
    font-family:Arial, Helvetica, sans-serif;
    font-size:10px;
    text-transform:capitalize;
    line-height:10px;
}

.total_row_font_bold{
    font-family:Arial, Helvetica, sans-serif;
    font-size:10px;
    text-transform:capitalize;
    line-height:20px;
    font-weight:bold;
    border-top: 1px solid;
}

.border_total_up{
    border-top:1px solid #000;
}

.rowget{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    padding-bottom:5px;
    padding-top:5px;
    border-bottom:1px solid #BBB;
    cursor:pointer;
    vertical-align:middle;

}



#leftdiv, #rightdiv{
    width:525px;
    height:480px;
    border:3px solid #E4E4E4;
    margin-right:10px;
    float:left;
}

#divmain_left{
    border:1px solid #DFDFDF;
    width:49%;
    float:left;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
}

#divmain_right{
    border:1px solid #DFDFDF;
    width:49%;
    float:right;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
}

#divheader{
    padding:7px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#FFF;
    background-color:#057996;
    display:block;
}

#divcontent{
    padding:5px;
}

.label{
    margin-left:3px;
}

.input {
    display:block;
    float:left;
    clear:both;
}

.tdhead{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color:#666;
    padding:5px;
}

.partition{
    background-color:#FFF;
    padding-bottom:20px;

}

.headofpartition{
    background-color:#057996;
    /*background-color:#E5E5E5;*/
    font-size:12px;
    color:#FFF;
    /*padding:4px;*/
    padding-left:15px;
}
.bodyofpartition{
    font-size:12px;
    padding:20px;
}

.tdhead{

    border-bottom: 1px solid #E5E5E5;
    font-size:12px;
    font-weight:bold;
    padding:5px;
}

.tdrow{

    border-bottom: 1px solid #E5E5E5;
    font-size:12px;
    padding:5px;
}

#messagesection{
    background-color:#0C6;
    color:#060;
    padding:5px;
    font-size:12px;
}

.right-green{
    color:#5cb85c;
}

.fail-red{
    color:#d9534f;
}

.notice-div-green{
    display:block;
    background-color:#40c2a6;
    border-left:8px solid #4a8564;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:5px;
    margin-bottom:15px;
    color:#b8fced; 
}

.notice-div-red{
    display:block;
    background-color:#ea6254;
    border-left:8px solid #900;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
    margin-top:5px;
    margin-bottom:15px;
    color:#ffcec9; 
}

.font-post-md{
    font-size:10px;
}

.result_right-side{
    vertical-align:middle;
    font-size:16px;
}

.self-row{
    padding-left:20px;
    margin-bottom:12px;
    border-bottom:1px solid #E4E4E4;
}

.dropdown-font{
    font-size: 12px;
}

.font-small-red{
    font-size: 12px;
    color:#ED3B59;
    font-style: italic;
}

.fa-star{
    font-size:10px; 
    color:#f9546a !important;
}

.note.note-success{border-color:#4a8564;background:#b0ebca;color:#3c763d}.note.note-success h1,.note.note-success h2,.note.note-success h3,.note.note-success h4,.note.note-success h5,.note.note-success h6{color:#3c763d}.note.note-danger{border-color:#986e6e;background:#fbd1d1;color:#a94442}.note.note-danger h1,.note.note-danger h2,.note.note-danger h3,.note.note-danger h4,.note.note-danger h5,.note.note-danger h6{color:#a94442}.note.note-info{border-color:#587c89;background:#bee2ef;color:#31708f}.note.note-info h1,.note.note-info h2,.note.note-info h3,.note.note-info h4,.note.note-info h5,.note.note-info h6{color:#31708f}.note.note-warning{border-color:#9d9080;background:#fff2e3;color:#8a6d3b}.note.note-warning h1,.note.note-warning h2,.note.note-warning h3,.note.note-warning h4,.note.note-warning h5,.note.note-warning h6{color:#8a6d3b}.badge{font-size:75%;line-height:1.25;font-weight:600}

.note{margin-bottom:20px;padding:15px;border-left:3px solid}.note.note-success{border-color:#4a8564;background:#b0ebca;color:#3c763d}.note.note-success h1,.note.note-success h2,.note.note-success h3,.note.note-success h4,.note.note-success h5,.note.note-success h6{color:#3c763d}.note.note-danger{border-color:#986e6e;background:#fbd1d1;color:#a94442}.note.note-danger h1,.note.note-danger h2,.note.note-danger h3,.note.note-danger h4,.note.note-danger h5,.note.note-danger h6{color:#a94442}.note.note-info{border-color:#587c89;background:#bee2ef;color:#31708f}.note.note-info h1,.note.note-info h2,.note.note-info h3,.note.note-info h4,.note.note-info h5,.note.note-info h6{color:#31708f}.note.note-warning{border-color:#9d9080;background:#fff2e3;color:#8a6d3b}.note.note-warning h1,.note.note-warning h2,.note.note-warning h3,.note.note-warning h4,.note.note-warning h5,.note.note-warning h6{color:#8a6d3b}


a.thelink {
    cursor: pointer;
    color: #ffffff;
    text-decoration: underline;
}
a.thelink:link {
    color: #ffffff;
}

/* visited link */
a.thelink:visited {
    color: #ffffff;
}

/* mouse over link */
a.thelink:hover {
    color: #097a62;
}

/* selected link */
a.thelink:active {
    color: #ffffff;
}

a.accordionfont {
    cursor: pointer;
    color: #717070;
    text-decoration: none;
}

a.accordionfont:hover {
    text-decoration: underline;
}

a.icon-delete{
    cursor:pointer;
}

a.icon-delete:hover{
    font-weight: 900;
    color:#d9534f;
}

a.icon-save{
    cursor:pointer;
}

a.icon-save:hover{
    font-weight: 300;
    color: darkblue;
}

a.icon-link{
    cursor:pointer;
    color: #3F3F3F;
}

a.icon-link:hover{
    cursor:pointer;
    color: #000;

    text-decoration: underline;
}

.smalltd{
    font-size: 10px !important; padding: 2px; padding-left: 6px; padding-right: 6px;
}

.cancelrow{
    color:#d6d6db;
}

.grey-bg{
    background-color: #f2f2f2;
}

.red-row{
    background-color: #c15959 !important;
    color:#efeded;
}

.green-row{
    background-color: #51a56d !important;
    color:#efeded;
}

.hr-bold{
    border: none;
    height: 2px;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

.bold-bottom{
    border-bottom: 2px solid #525252;
    margin-bottom: 5px;
}
.bold-bottom-t{
    border-bottom: 2px solid #525252;
    margin-top: 5px;
}

.smallpara {
    margin-top:-4px;
    padding-top:-40px;
    margin-bottom:0;
}

.thick-font{
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color:#eeeeee;
    font-size:12px;
    line-height:1.42857143;
    -webkit-font-smoothing: antialiased;
}

.nav-side-font{
/*    color:#eeeeee !important;*/
    font-weight: 500;
    font-size: 11px;
    -webkit-font-smoothing:antialiased !important;
    
}





